.NewsListC {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: #1D2F3B;
}
.NewsListC .newsList-Cotainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5em;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}
.NewsListC .newsList-Cotainer .Newslist {
  width: 75%;
  margin: 0 auto;
  display: flex;
  gap: 5em;
  flex-direction: column;
  position: relative;
}
.NewsListC .newsList-Cotainer .Newslist::before {
  position: absolute;
  content: "";
  width: 4px;
  background-color: rgba(249, 242, 234, 0.6980392157);
  height: 100%;
  left: 50%;
}
.NewsListC .newsList-Cotainer .Newslist .News {
  width: 100%;
  display: flex;
  position: relative;
}
.NewsListC .newsList-Cotainer .Newslist .News:nth-child(even) .RightSec {
  order: 2;
}
.NewsListC .newsList-Cotainer .Newslist .News:nth-child(even) .RightSec::before {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #F9F2EA;
  right: 0;
  transform: translateX(50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}
.NewsListC .newsList-Cotainer .Newslist .News:nth-child(even) .RightSec .IMG::before {
  content: "";
  content: "";
  position: absolute;
  right: -2.5em;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #F9F2EA;
  border-right: 10px solid transparent;
  left: unset;
}
.NewsListC .newsList-Cotainer .Newslist .News:nth-child(even) .RightSec .IMG, .NewsListC .newsList-Cotainer .Newslist .News:nth-child(even) .RightSec .title, .NewsListC .newsList-Cotainer .Newslist .News:nth-child(even) .RightSec .Desc {
  width: 80%;
  margin: 0 auto;
  margin-left: auto;
  position: relative;
  margin-right: 5em;
}
.NewsListC .newsList-Cotainer .Newslist .News:nth-child(even) .LeftSec {
  order: 1;
  justify-content: flex-end;
}
.NewsListC .newsList-Cotainer .Newslist .News:nth-child(even) .LeftSec .Date {
  margin-left: 12%;
}
.NewsListC .newsList-Cotainer .Newslist .RightSec {
  padding-top: 2em;
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.NewsListC .newsList-Cotainer .Newslist .RightSec::before {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #F9F2EA;
  left: 0;
  transform: translateX(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.NewsListC .newsList-Cotainer .Newslist .RightSec > a {
  width: 80%;
  margin: 0 auto;
}
.NewsListC .newsList-Cotainer .Newslist .RightSec .IMG {
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin-left: 5em;
}
.NewsListC .newsList-Cotainer .Newslist .RightSec .IMG::before {
  content: "";
  position: absolute;
  left: -2.5em;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid #F9F2EA;
}
.NewsListC .newsList-Cotainer .Newslist .RightSec img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.NewsListC .newsList-Cotainer .Newslist .RightSec .title {
  width: 80%;
  margin: 0 auto;
  margin-left: 5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.NewsListC .newsList-Cotainer .Newslist .RightSec .title a {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #F9F2EA;
}
.NewsListC .newsList-Cotainer .Newslist .RightSec .Desc {
  width: 80%;
  margin: 0 auto;
  margin-left: 5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2.5em !important;
}
.NewsListC .newsList-Cotainer .Newslist .RightSec .Desc p {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #F9F2EA;
  text-align: justify;
}
.NewsListC .newsList-Cotainer .Newslist .LeftSec {
  padding-top: 2em;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.NewsListC .newsList-Cotainer .Newslist .LeftSec .Date {
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.78px;
  color: rgba(249, 242, 234, 0.8);
  margin-right: 12%;
}

.NewsShowC {
  width: 100vw;
  overflow-x: hidden;
  background-color: #1D2F3B;
}
.NewsShowC .Container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 2em;
}
.NewsShowC .Container > .Section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1.2em;
}
.NewsShowC .Container > .Section:last-child {
  position: relative;
  padding-bottom: 3em;
  margin-bottom: 3em;
}
.NewsShowC .Container > .Section:last-child::after {
  content: "";
  position: absolute;
  width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.1vh;
  background-color: #305367;
}
.NewsShowC .Container .Left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.NewsShowC .Container .Left.banner > .IMG {
  width: 90%;
}
.NewsShowC .Container .Left > .IMG {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.NewsShowC .Container .Left > .IMG > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.NewsShowC .Container .Left > .IMG > img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.NewsShowC .Container .Left > .Socials {
  width: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
}
.NewsShowC .Container .Left > .Socials > .social {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
}
.NewsShowC .Container .Left > .Socials > .social.btn:hover {
  cursor: pointer;
  opacity: 0.5;
}
.NewsShowC .Container .Right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.NewsShowC .Container .TextContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8em;
}
.NewsShowC .Container .TextContent .Row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8em;
}
.NewsShowC .Container .TextContent .Row .Date {
  font-size: 14px;
  font-weight: 400;
  line-height: 21.91px;
  color: #F9F2EA;
}
.NewsShowC .Container .TextContent .Row h1, .NewsShowC .Container .TextContent .Row h2, .NewsShowC .Container .TextContent .Row h3, .NewsShowC .Container .TextContent .Row h4, .NewsShowC .Container .TextContent .Row h5, .NewsShowC .Container .TextContent .Row h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 21.91px;
  color: #F9F2EA;
}
.NewsShowC .Container .TextContent .Row h2, .NewsShowC .Container .TextContent .Row h3, .NewsShowC .Container .TextContent .Row h4, .NewsShowC .Container .TextContent .Row h5, .NewsShowC .Container .TextContent .Row h6 {
  font-weight: 500;
}
.NewsShowC .Container .TextContent .Row .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.NewsShowC .Container .TextContent .Row .text p {
  font-size: 14px;
  font-weight: 300;
  color: #F9F2EA;
  line-height: 21.91px;
}
.NewsShowC .Container .TextContent .Row .ShowPopup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.NewsShowC .Container .TextContent .Row .ShowPopup > button {
  background-color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 0.5em;
  padding: 1em 0.8em;
  justify-content: center;
  align-items: center;
  border: 1px solid #F9F2EA;
  outline: none;
  background-color: #305367;
}
.NewsShowC .Container .TextContent .Row .ShowPopup > button:hover {
  cursor: pointer;
}
.NewsShowC .Container .TextContent .Row .ShowPopup > button span {
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  line-height: 21.91px;
  color: #F9F2EA;
}
.NewsShowC .Container .TextContent .Row .ShowPopup > button span.rect {
  width: 10px;
  height: 10px;
  background-color: #F9F2EA;
}
.NewsShowC .bg-content {
  width: 100%;
  background-color: #305367;
  display: flex;
  flex-direction: column;
  padding: 4em 0;
}
.NewsShowC .Related-news {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.NewsShowC .Related-news > .Title {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.NewsShowC .Related-news > .Title p {
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  color: #F9F2EA;
}
.NewsShowC .Related-news .Newslist {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  margin-top: 1.5em;
}
.NewsShowC .Related-news .Newslist .swiper-news,
.NewsShowC .Related-news .Newslist .swiper-slide {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.NewsShowC .Related-news .swiper-button-next,
.NewsShowC .Related-news .swiper-button-prev {
  width: 39px;
  height: 38px;
  z-index: 1;
  right: 0;
  top: 62%;
  right: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #305367;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  border: 1px solid #FFFFFF;
}
.NewsShowC .Related-news .swiper-button-next:hover,
.NewsShowC .Related-news .swiper-button-prev:hover {
  background-color: #1D2F3B;
}
.NewsShowC .Related-news .swiper-button-next::before, .NewsShowC .Related-news .swiper-button-next::after,
.NewsShowC .Related-news .swiper-button-prev::before,
.NewsShowC .Related-news .swiper-button-prev::after {
  content: none;
}
.NewsShowC .Related-news .swiper-button-next svg,
.NewsShowC .Related-news .swiper-button-prev svg {
  width: 10px;
}
.NewsShowC .Related-news .swiper-button-prev {
  left: 0.5em;
}
.NewsShowC .Related-projects {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}
.NewsShowC .Related-projects > .Title {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.NewsShowC .Related-projects > .Title p {
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  color: #F9F2EA;
}
.NewsShowC .Related-projects .Projectlist {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  margin-bottom: 5em;
  margin-top: 1.5em;
  justify-content: center;
  align-items: flex-end;
  gap: 2em;
}
.NewsShowC .Related-projects .Projectlist .swiper-project,
.NewsShowC .Related-projects .Projectlist .swiper-slide {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.NewsShowC .Related-projects .swiper-button-next,
.NewsShowC .Related-projects .swiper-button-prev {
  width: 39px;
  height: 38px;
  position: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #305367;
  border: 1px solid #FFFFFF;
  margin: 0;
}
.NewsShowC .Related-projects .swiper-button-next::before, .NewsShowC .Related-projects .swiper-button-next::after,
.NewsShowC .Related-projects .swiper-button-prev::before,
.NewsShowC .Related-projects .swiper-button-prev::after {
  content: none;
}
.NewsShowC .Related-projects .swiper-button-next svg,
.NewsShowC .Related-projects .swiper-button-prev svg {
  width: 10px;
}
.NewsShowC .Related-projects .swiper-button-prev {
  left: unset;
  left: 0;
}

.Project {
  width: 100%;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}
.Project:hover {
  cursor: pointer;
}
.Project > .IMG {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Project > .IMG:hover .IMGoverlay {
  opacity: 1 !important;
  transition: all 0.5s ease-in;
}
.Project > .IMG:hover .ov-1 {
  opacity: 0;
  pointer-events: none;
}
.Project > .IMG .ov-1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: all 0.5s ease-in;
  background-color: rgba(29, 47, 59, 0.2039215686);
}
.Project > .IMG .ov-1 .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Project > .IMG .ov-1 .title a {
  font-size: 16px;
  font-weight: 500;
  line-height: 25.04px;
  color: #FFFFFF;
  margin-left: 1em;
}
.Project > .IMG .IMGoverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  transition: all 0.3s ease-in;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.Project > .IMG .IMGoverlay .schema-box {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: right;
  margin-right: auto;
  margin-left: 1em;
  margin-top: 1em;
  max-width: 100%;
}
.Project > .IMG .IMGoverlay .schema-box .title {
  width: auto;
  text-align: right;
}
.Project > .IMG .IMGoverlay .schema-box .title p {
  font-weight: 500;
  font-size: 16px;
  line-height: 25.04px;
  color: #FFFFFF;
}
.Project > .IMG .IMGoverlay .schema-box .schema {
  width: auto;
  display: flex;
}
.Project > .IMG .IMGoverlay .schema-box .schema span {
  font-weight: 400;
  font-size: 14px;
  line-height: 21.91px;
  color: #FFFFFF;
}
.Project > .IMG > a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Project > .IMG img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Project .Date {
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.78px;
  color: #305367;
}
.Project .showMore {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0.8em;
}
.Project .showMore > a {
  background-color: transparent;
  width: 93%;
  display: flex;
  gap: 0.5em;
  padding: 1em 0.8em;
  justify-content: center;
  align-items: center;
  border: 1px solid #1D2F3B;
  outline: none;
  position: relative;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.Project .showMore > a:hover {
  cursor: pointer;
}
.Project .showMore > a:hover::before {
  width: 100%;
}
.Project .showMore > a:hover span {
  color: #FFFFFF !important;
}
.Project .showMore > a:hover span.rect {
  height: 20px !important;
  width: 45px;
  background-color: #FFFFFF !important;
}
.Project .showMore > a:hover span.rect svg {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  opacity: 1 !important;
}
.Project .showMore > a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: #305367;
  z-index: -1;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.Project .showMore > a span {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  line-height: 21.91px;
  color: #1D2F3B;
}
.Project .showMore > a span.rect {
  overflow: hidden;
  width: 10px;
  height: 10px;
  background-color: #1D2F3B;
}
.Project .showMore > a span.rect svg {
  width: 30px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  opacity: 0;
}

.New {
  width: 100%;
  display: flex;
  gap: 0.5em;
}
.New .RightSec {
  width: 90%;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}
.New .LeftSec {
  width: 6%;
  display: flex;
  position: relative;
}
.New .LeftSec::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 10px solid transparent;
  border-top: 10px solid #F9F2EA;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}
.New:hover {
  cursor: pointer;
}
.New > .IMG {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.New > .IMG:hover .IMGoverlay {
  opacity: 1 !important;
  transition: all 0.5s ease-in;
}
.New > .IMG .IMGoverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  transition: all 0.5s ease-in;
  background-color: rgba(29, 47, 59, 0.5019607843);
  pointer-events: none;
}
.New > .IMG > a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.New > .IMG img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.New .Date {
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.78px;
  color: rgba(249, 242, 234, 0.8);
  transform: rotate(-90deg) translate(-4em, -1.55em);
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  left: 0;
  -webkit-transform: rotate(-90deg) translate(-4em, -1.55em);
  -moz-transform: rotate(-90deg) translate(-4em, -1.55em);
  -ms-transform: rotate(-90deg) translate(-4em, -1.55em);
  -o-transform: rotate(-90deg) translate(-4em, -1.55em);
}
.New .title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.New .title a {
  color: #F9F2EA;
}
.New .title span {
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #F9F2EA;
}
.New .Desc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  margin-top: 1.5em;
}
.New .Desc p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #F9F2EA;
}

.blog {
  width: 100%;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}
.blog:hover {
  cursor: pointer;
}
.blog > .IMG {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.blog > .IMG:hover .ov {
  background-color: rgba(0, 0, 0, 0.6980392157);
}
.blog > .IMG .ov {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: all 0.5s ease-in;
  background-color: rgba(29, 47, 59, 0.2039215686);
}
.blog > .IMG .ov .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.blog > .IMG .ov .title a {
  font-size: 16px;
  font-weight: 500;
  line-height: 25.04px;
  color: #FFFFFF;
  margin-left: 1em;
}
.blog > .IMG > a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog > .IMG img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog .Date {
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.78px;
  color: #305367;
}
.blog .showMore {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0.8em;
}
.blog .showMore > a {
  background-color: transparent;
  width: 93%;
  display: flex;
  gap: 0.5em;
  padding: 1em 0.8em;
  justify-content: center;
  align-items: center;
  border: 1px solid #1D2F3B;
  outline: none;
  position: relative;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.blog .showMore > a:hover {
  cursor: pointer;
}
.blog .showMore > a:hover::before {
  width: 100%;
}
.blog .showMore > a:hover span {
  color: #FFFFFF !important;
}
.blog .showMore > a:hover span.rect {
  height: 20px !important;
  width: 45px;
  background-color: #FFFFFF !important;
}
.blog .showMore > a:hover span.rect svg {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  opacity: 1 !important;
}
.blog .showMore > a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: #305367;
  z-index: -1;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.blog .showMore > a span {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  line-height: 21.91px;
  color: #1D2F3B;
}
.blog .showMore > a span.rect {
  overflow: hidden;
  width: 10px;
  height: 10px;
  background-color: #1D2F3B;
}
.blog .showMore > a span.rect svg {
  width: 30px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  opacity: 0;
}

.BlogListC {
  width: 100vw;
  overflow-x: hidden;
  background-color: #1D2F3B;
}
.BlogListC .BlogList-Cotainer {
  width: 79%;
  padding-bottom: 5em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.BlogListC .BlogList-Cotainer .BlogList {
  width: 100%;
  display: flex;
  margin: 1.8em 0;
  margin-bottom: 2.5em;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
}
.BlogListC .BlogList-Cotainer .BlogList .Row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding-top: 3em;
  padding-bottom: 3em;
}
.BlogListC .BlogList-Cotainer .BlogList .Row::before {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #F9F2EA;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateX(6%);
}
.BlogListC .BlogList-Cotainer .BlogList::before {
  position: absolute;
  content: "";
  width: 4px;
  background-color: rgba(249, 242, 234, 0.6980392157);
  height: 100%;
  left: 50%;
}
.BlogListC .BlogList-Cotainer .BlogList .circle {
  position: absolute;
}
.BlogListC .BlogList-Cotainer .BlogList .blog {
  width: 50%;
  position: relative;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  opacity: 0;
}
.BlogListC .BlogList-Cotainer .BlogList .blog:nth-child(odd) {
  margin-left: auto;
  width: 43%;
}
.BlogListC .BlogList-Cotainer .BlogList .blog:nth-child(even) {
  margin-right: auto;
  width: 43%;
}

.ArticleShowC {
  width: 100vw;
  overflow-x: hidden;
  background-color: #1D2F3B;
}
.ArticleShowC .Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 2em;
}
.ArticleShowC .Container .Section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
}
.ArticleShowC .Container .Section:first-child {
  background-color: #1D2F3B;
}
.ArticleShowC .Container .Section:first-child .Right {
  width: 44%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}
.ArticleShowC .Container .Section:first-child .TextContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8em;
}
.ArticleShowC .Container .Section:first-child .TextContent .Row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8em;
}
.ArticleShowC .Container .Section:first-child .TextContent .Row .Date {
  font-size: 14px;
  font-weight: 400;
  line-height: 21.91px;
  color: #FFFFFF;
}
.ArticleShowC .Container .Section:first-child .TextContent .Row h1, .ArticleShowC .Container .Section:first-child .TextContent .Row h2, .ArticleShowC .Container .Section:first-child .TextContent .Row h3, .ArticleShowC .Container .Section:first-child .TextContent .Row h4, .ArticleShowC .Container .Section:first-child .TextContent .Row h5, .ArticleShowC .Container .Section:first-child .TextContent .Row h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 21.91px;
  color: #FFFFFF;
}
.ArticleShowC .Container .Section:first-child .TextContent .Row h2, .ArticleShowC .Container .Section:first-child .TextContent .Row h3, .ArticleShowC .Container .Section:first-child .TextContent .Row h4, .ArticleShowC .Container .Section:first-child .TextContent .Row h5, .ArticleShowC .Container .Section:first-child .TextContent .Row h6 {
  font-weight: 500;
}
.ArticleShowC .Container .Section:first-child .TextContent .Row .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.ArticleShowC .Container .Section:first-child .TextContent .Row .text p {
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 21.91px;
}
.ArticleShowC .Container .Section:first-child .TextContent .Row .ShowPopup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.ArticleShowC .Container .Section:first-child .TextContent .Row .ShowPopup > button {
  background-color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 0.5em;
  padding: 1em 0.8em;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFFFF;
  outline: none;
}
.ArticleShowC .Container .Section:first-child .TextContent .Row .ShowPopup > button:hover {
  cursor: pointer;
}
.ArticleShowC .Container .Section:first-child .TextContent .Row .ShowPopup > button span {
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  line-height: 21.91px;
  color: #FFFFFF;
}
.ArticleShowC .Container .Section:first-child .TextContent .Row .ShowPopup > button span.rect {
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
}
.ArticleShowC .Container .Section:first-child .Socials {
  width: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.ArticleShowC .Container .Section:first-child .Socials > .social {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
}
.ArticleShowC .Container .Section:first-child .Socials > .social.btn:hover {
  cursor: pointer;
  opacity: 0.5;
}
.ArticleShowC .Container .Section:last-child {
  position: relative;
  padding-bottom: 3em;
  margin-bottom: 3em;
}
.ArticleShowC .Container .Section:last-child::after {
  content: "";
  position: absolute;
  width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.1vh;
  background-color: #305367;
}
.ArticleShowC .Container .Left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 44%;
  margin-right: auto;
}
.ArticleShowC .Container .Left.banner > .IMG {
  width: 77%;
}
.ArticleShowC .Container .Left > .IMG {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.ArticleShowC .Container .Left > .IMG > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.ArticleShowC .Container .Left > .IMG > img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.ArticleShowC .Container .Right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ArticleShowC .Container .Right > .TextContent {
  width: 90%;
  margin-left: auto;
  margin-right: 0;
}
.ArticleShowC .Container .TextContent {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8em;
}
.ArticleShowC .Container .TextContent .Row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8em;
}
.ArticleShowC .Container .TextContent .Row .Date {
  font-size: 14px;
  font-weight: 400;
  line-height: 21.91px;
  color: #F9F2EA;
}
.ArticleShowC .Container .TextContent .Row h1, .ArticleShowC .Container .TextContent .Row h2, .ArticleShowC .Container .TextContent .Row h3, .ArticleShowC .Container .TextContent .Row h4, .ArticleShowC .Container .TextContent .Row h5, .ArticleShowC .Container .TextContent .Row h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 21.91px;
  color: #F9F2EA;
}
.ArticleShowC .Container .TextContent .Row h2, .ArticleShowC .Container .TextContent .Row h3, .ArticleShowC .Container .TextContent .Row h4, .ArticleShowC .Container .TextContent .Row h5, .ArticleShowC .Container .TextContent .Row h6 {
  font-weight: 500;
}
.ArticleShowC .Container .TextContent .Row .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.ArticleShowC .Container .TextContent .Row .text p {
  font-size: 14px;
  font-weight: 300;
  color: #F9F2EA;
  line-height: 21.91px;
  text-align: justify;
}
.ArticleShowC .Container .TextContent .Row .ShowPopup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.ArticleShowC .Container .TextContent .Row .ShowPopup > button {
  background-color: #305367 !important;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 0.5em;
  padding: 1em 0.8em;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFFFF;
  outline: none;
}
.ArticleShowC .Container .TextContent .Row .ShowPopup > button:hover {
  cursor: pointer;
}
.ArticleShowC .Container .TextContent .Row .ShowPopup > button span {
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  line-height: 21.91px;
  color: #FFFFFF;
}
.ArticleShowC .Container .TextContent .Row .ShowPopup > button span.rect {
  width: 10px;
  height: 10px;
  background-color: #F9F2EA;
}
.ArticleShowC .bg-content {
  width: 100%;
  background-color: #305367;
  display: flex;
  flex-direction: column;
  padding: 4em 0;
  padding-bottom: 0;
}
.ArticleShowC .Related-blogs {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.ArticleShowC .Related-blogs::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3em;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.537254902);
}
.ArticleShowC .Related-blogs > .Title {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.ArticleShowC .Related-blogs > .Title p {
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  color: #F9F2EA;
}
.ArticleShowC .Related-blogs .Blogslist {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  margin-top: 1.5em;
}
.ArticleShowC .Related-blogs .Blogslist .swiper-blogs,
.ArticleShowC .Related-blogs .Blogslist .swiper-slide {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.ArticleShowC .Related-blogs .swiper-button-next,
.ArticleShowC .Related-blogs .swiper-button-prev {
  width: 39px;
  height: 38px;
  z-index: 1;
  right: 0;
  top: unset;
  bottom: 0;
  right: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #305367;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  border: 1px solid #FFFFFF;
}
.ArticleShowC .Related-blogs .swiper-button-next:hover,
.ArticleShowC .Related-blogs .swiper-button-prev:hover {
  background-color: #1D2F3B;
}
.ArticleShowC .Related-blogs .swiper-button-next::before, .ArticleShowC .Related-blogs .swiper-button-next::after,
.ArticleShowC .Related-blogs .swiper-button-prev::before,
.ArticleShowC .Related-blogs .swiper-button-prev::after {
  content: none;
}
.ArticleShowC .Related-blogs .swiper-button-next svg,
.ArticleShowC .Related-blogs .swiper-button-prev svg {
  width: 10px;
}
.ArticleShowC .Related-blogs .swiper-button-prev {
  left: 0;
}
.ArticleShowC .Related-projects {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}
.ArticleShowC .Related-projects > .Title {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.ArticleShowC .Related-projects > .Title p {
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  color: #F9F2EA;
}
.ArticleShowC .Related-projects .Projectlist {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  margin-bottom: 5em;
  margin-top: 1.5em;
  justify-content: center;
  align-items: flex-end;
  gap: 2em;
}
.ArticleShowC .Related-projects .Projectlist .swiper-project,
.ArticleShowC .Related-projects .Projectlist .swiper-slide {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.ArticleShowC .Related-projects .swiper-button-next,
.ArticleShowC .Related-projects .swiper-button-prev {
  width: 39px;
  height: 38px;
  position: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #305367;
  border: 1px solid #FFFFFF;
  margin: 0;
}
.ArticleShowC .Related-projects .swiper-button-next::before, .ArticleShowC .Related-projects .swiper-button-next::after,
.ArticleShowC .Related-projects .swiper-button-prev::before,
.ArticleShowC .Related-projects .swiper-button-prev::after {
  content: none;
}
.ArticleShowC .Related-projects .swiper-button-next svg,
.ArticleShowC .Related-projects .swiper-button-prev svg {
  width: 10px;
}
.ArticleShowC .Related-projects .swiper-button-prev {
  left: unset;
  left: 0;
}

.ProjectListC {
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  background-color: #1D2F3B;
}
.ProjectListC .navigation {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}
.ProjectListC .Container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ProjectListC .BannerSlider {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}
.ProjectListC .Nav {
  position: absolute;
  right: 5%;
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  bottom: 5vh;
  gap: 0.3em;
  z-index: 3;
}
.ProjectListC .swiper-button-prev {
  transform: unset;
  -webkit-transform: unset;
  -moz-transform: unset;
  -ms-transform: unset;
  -o-transform: unset;
}
.ProjectListC .swiper-button-prev:hover {
  transform: scale(0.9);
  background-color: #1D2F3B;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.ProjectListC .swiper-button-next {
  transform: unset;
  -webkit-transform: unset;
  -moz-transform: unset;
  -ms-transform: unset;
  -o-transform: unset;
}
.ProjectListC .swiper-button-next:hover {
  transform: scale(0.9);
  background-color: #1D2F3B;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.ProjectListC .swiper-button-prev,
.ProjectListC .swiper-button-next {
  position: unset;
  width: 38px;
  height: 38px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProjectListC .swiper-button-prev::after, .ProjectListC .swiper-button-prev::before,
.ProjectListC .swiper-button-next::after,
.ProjectListC .swiper-button-next::before {
  content: none;
}
.ProjectListC .swiper-button-prev:hover,
.ProjectListC .swiper-button-next:hover {
  background-color: #1D2F3B;
}
.ProjectListC .swiper-button-prev svg,
.ProjectListC .swiper-button-next svg {
  width: 20px;
  height: 20px;
}
.ProjectListC .swiper-banner {
  width: 100%;
  height: 100%;
  display: flex;
}
.ProjectListC .swiper-banner .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.ProjectListC .swiper-banner .swiper-wrapper .swiper-slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.ProjectListC .swiper-banner .swiper-wrapper .swiper-slide .IMG {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.ProjectListC .swiper-banner .swiper-wrapper .swiper-slide .IMG::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 1;
  background-color: rgba(24, 38, 48, 0.3);
}
.ProjectListC .swiper-banner .swiper-wrapper .swiper-slide .IMG > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ProjectListC .swiper-banner .swiper-wrapper .swiper-slide .Title {
  position: absolute;
  bottom: 5vh;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProjectListC .swiper-banner .swiper-wrapper .swiper-slide .Title h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 53.22px;
  color: #FFFFFF;
}
.ProjectListC .Projectlist {
  width: 80%;
  margin: 0 auto;
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5em;
  margin-bottom: 5em;
}
.ProjectListC .Projectlist .Project {
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0;
  transform: translateY(5vh);
  -webkit-transform: translateY(5vh);
  -moz-transform: translateY(5vh);
  -ms-transform: translateY(5vh);
  -o-transform: translateY(5vh);
  -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.ProjectShowC {
  width: 100vw;
  overflow-x: hidden;
  background-color: #1D2F3B;
}
.ProjectShowC .navigation {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}
.ProjectShowC .Container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ProjectShowC .Container .Banner {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}
.ProjectShowC .Container .Banner > .IMG {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ProjectShowC .Container .Banner > .IMG::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 1;
  background-color: rgba(24, 38, 48, 0.196);
}
.ProjectShowC .Container .Banner > .IMG > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ProjectShowC .Container .Banner .Title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProjectShowC .Container .Banner .Title h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 53.32px;
  color: #FFFFFF;
}
.ProjectShowC .Container .Gallery-Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1D2F3B;
}
.ProjectShowC .Container .Gallery-Container > .Title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
}
.ProjectShowC .Container .Gallery-Container > .Title > h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28.17px;
  color: #FFFFFF;
}
.ProjectShowC .Container .Gallery-Container > .Gallerys {
  width: 100%;
  display: flex;
  position: relative;
  padding-bottom: 3em;
}
.ProjectShowC .Container .Gallery-Container > .Gallerys .swiper-gallery, .ProjectShowC .Container .Gallery-Container > .Gallerys .swiper-wrapper {
  width: 100%;
  display: flex;
}
.ProjectShowC .Container .Gallery-Container > .Gallerys .swiper-gallery .swiper-slide, .ProjectShowC .Container .Gallery-Container > .Gallerys .swiper-wrapper .swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ProjectShowC .Container .Gallery-Container > .Gallerys .swiper-gallery .swiper-slide-active .IMG, .ProjectShowC .Container .Gallery-Container > .Gallerys .swiper-wrapper .swiper-slide-active .IMG {
  opacity: 1 !important;
}
.ProjectShowC .Container .Gallery-Container > .Gallerys .swiper-gallery .swiper-slide .IMG, .ProjectShowC .Container .Gallery-Container > .Gallerys .swiper-wrapper .swiper-slide .IMG {
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.ProjectShowC .Container .Gallery-Container > .Gallerys .swiper-gallery .swiper-slide .IMG > img, .ProjectShowC .Container .Gallery-Container > .Gallerys .swiper-wrapper .swiper-slide .IMG > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ProjectShowC .Container .Gallery-Container > .Gallerys .swiper-gallery .swiper-slide .OV, .ProjectShowC .Container .Gallery-Container > .Gallerys .swiper-wrapper .swiper-slide .OV {
  position: absolute;
  right: 3%;
  top: 3%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProjectShowC .Container .Gallery-Container .swiper-button-prev {
  right: 7% !important;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.ProjectShowC .Container .Gallery-Container .swiper-button-prev:hover {
  transform: scale(1);
  background-color: #1D2F3B;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.ProjectShowC .Container .Gallery-Container .swiper-button-next {
  left: 7% !important;
  transform: scale(1.1);
}
.ProjectShowC .Container .Gallery-Container .swiper-button-next:hover {
  transform: scale(1);
  background-color: #1D2F3B;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.ProjectShowC .Container .Gallery-Container .swiper-button-prev,
.ProjectShowC .Container .Gallery-Container .swiper-button-next {
  top: 50%;
  left: unset;
  right: unset;
  width: 38px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  height: 35px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProjectShowC .Container .Gallery-Container .swiper-button-prev::after, .ProjectShowC .Container .Gallery-Container .swiper-button-prev::before,
.ProjectShowC .Container .Gallery-Container .swiper-button-next::after,
.ProjectShowC .Container .Gallery-Container .swiper-button-next::before {
  content: none;
}
.ProjectShowC .Container .Gallery-Container .swiper-button-prev:hover,
.ProjectShowC .Container .Gallery-Container .swiper-button-next:hover {
  background-color: #1D2F3B;
}
.ProjectShowC .Container .Gallery-Container .swiper-button-prev svg,
.ProjectShowC .Container .Gallery-Container .swiper-button-next svg {
  width: 20px;
  height: 20px;
}
.ProjectShowC .Container .Project-Detail {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 5em auto;
}
.ProjectShowC .Container .Project-Detail .right-col {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ProjectShowC .Container .Project-Detail .right-col .Project-title {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ProjectShowC .Container .Project-Detail .right-col .Row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8em;
}
.ProjectShowC .Container .Project-Detail .right-col .Row .Question {
  font-size: 16px;
  font-weight: 300;
  line-height: 25.04px;
  color: #F9F2EA;
}
.ProjectShowC .Container .Project-Detail .right-col .Row .Answer {
  font-size: 16px;
  font-weight: 700;
  line-height: 25.04px;
  color: #F9F2EA;
}
.ProjectShowC .Container .Project-Detail .left-col {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8em;
  flex-direction: column;
  border-right: 1px solid #F9F2EA;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
}
.ProjectShowC .Container .Project-Detail .left-col .Row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3em;
  border-bottom: 1px solid #F9F2EA;
  padding: 0.7em 0;
}
.ProjectShowC .Container .Project-Detail .left-col .Row .Question {
  font-size: 14px;
  font-weight: 400;
  line-height: 21.91px;
  color: #F9F2EA;
}
.ProjectShowC .Container .Project-Detail .left-col .Row .Answer {
  font-size: 14px;
  font-weight: 400;
  line-height: 21.91px;
  color: #F9F2EA;
}
.ProjectShowC .Container .bg-color {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #305367;
}
.ProjectShowC .Container .Related-projects {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}
.ProjectShowC .Container .Related-projects > .Title {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.ProjectShowC .Container .Related-projects > .Title p {
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  color: #F9F2EA;
}
.ProjectShowC .Container .Related-projects .Projectlist {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  margin-bottom: 5em;
  margin-top: 1.5em;
  justify-content: center;
  align-items: flex-end;
  gap: 2em;
}
.ProjectShowC .Container .Related-projects .Projectlist .swiper-project,
.ProjectShowC .Container .Related-projects .Projectlist .swiper-slide {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.ProjectShowC .Container .Related-projects .swiper-button-next,
.ProjectShowC .Container .Related-projects .swiper-button-prev {
  width: 39px;
  height: 38px;
  position: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #305367;
  border: 1px solid #FFFFFF;
  margin: 0;
  transform: unset;
  -webkit-transform: unset;
  -moz-transform: unset;
  -ms-transform: unset;
  -o-transform: unset;
}
.ProjectShowC .Container .Related-projects .swiper-button-next::before, .ProjectShowC .Container .Related-projects .swiper-button-next::after,
.ProjectShowC .Container .Related-projects .swiper-button-prev::before,
.ProjectShowC .Container .Related-projects .swiper-button-prev::after {
  content: none;
}
.ProjectShowC .Container .Related-projects .swiper-button-next svg,
.ProjectShowC .Container .Related-projects .swiper-button-prev svg {
  width: 10px;
}
.ProjectShowC .Container .Related-projects .swiper-button-prev {
  left: unset;
  left: 0;
}

.searchh {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #1D2F3B;
  padding-top: 10em;
  overflow: hidden;
}
.searchh .loaded {
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin-top: 3em;
  gap: 5em;
  flex-direction: column;
}
.searchh .loaded .Related-blogs {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.searchh .loaded .Related-blogs > .Title {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.searchh .loaded .Related-blogs > .Title p {
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  color: #F9F2EA;
}
.searchh .loaded .Related-blogs .Blogslist {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  margin-top: 1.5em;
}
.searchh .loaded .Related-blogs .Blogslist .swiper-blogs,
.searchh .loaded .Related-blogs .Blogslist .swiper-slide {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.searchh .loaded .Related-blogs .swiper-button-next,
.searchh .loaded .Related-blogs .swiper-button-prev {
  width: 39px;
  height: 38px;
  z-index: 1;
  right: 0;
  top: unset;
  bottom: 0;
  right: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1D2F3B;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  border: 1px solid #FFFFFF;
}
.searchh .loaded .Related-blogs .swiper-button-next:hover,
.searchh .loaded .Related-blogs .swiper-button-prev:hover {
  background-color: #1D2F3B;
}
.searchh .loaded .Related-blogs .swiper-button-next::before, .searchh .loaded .Related-blogs .swiper-button-next::after,
.searchh .loaded .Related-blogs .swiper-button-prev::before,
.searchh .loaded .Related-blogs .swiper-button-prev::after {
  content: none;
}
.searchh .loaded .Related-blogs .swiper-button-next svg,
.searchh .loaded .Related-blogs .swiper-button-prev svg {
  width: 10px;
}
.searchh .loaded .Related-blogs .swiper-button-prev {
  left: 0;
}
.searchh .loaded .Related-news {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.searchh .loaded .Related-news > .Title {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.searchh .loaded .Related-news > .Title p {
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  color: #F9F2EA;
}
.searchh .loaded .Related-news .Newslist {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  margin-top: 1.5em;
}
.searchh .loaded .Related-news .Newslist .swiper-news,
.searchh .loaded .Related-news .Newslist .swiper-slide {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.searchh .loaded .Related-news .swiper-button-next,
.searchh .loaded .Related-news .swiper-button-prev {
  width: 39px;
  height: 38px;
  z-index: 1;
  right: 0;
  top: 62%;
  right: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1D2F3B;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  border: 1px solid #FFFFFF;
}
.searchh .loaded .Related-news .swiper-button-next:hover,
.searchh .loaded .Related-news .swiper-button-prev:hover {
  background-color: #1D2F3B;
}
.searchh .loaded .Related-news .swiper-button-next::before, .searchh .loaded .Related-news .swiper-button-next::after,
.searchh .loaded .Related-news .swiper-button-prev::before,
.searchh .loaded .Related-news .swiper-button-prev::after {
  content: none;
}
.searchh .loaded .Related-news .swiper-button-next svg,
.searchh .loaded .Related-news .swiper-button-prev svg {
  width: 10px;
}
.searchh .loaded .Related-news .swiper-button-prev {
  left: 0.5em;
}
.searchh .loaded .Related-projects {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}
.searchh .loaded .Related-projects > .Title {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.searchh .loaded .Related-projects > .Title p {
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  color: #F9F2EA;
}
.searchh .loaded .Related-projects .Projectlist {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  margin-bottom: 5em;
  margin-top: 1.5em;
  justify-content: center;
  align-items: flex-end;
  gap: 2em;
}
.searchh .loaded .Related-projects .Projectlist .swiper-project,
.searchh .loaded .Related-projects .Projectlist .swiper-slide {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.searchh .loaded .Related-projects .swiper-button-next,
.searchh .loaded .Related-projects .swiper-button-prev {
  width: 39px;
  height: 38px;
  position: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  margin: 0;
}
.searchh .loaded .Related-projects .swiper-button-next::before, .searchh .loaded .Related-projects .swiper-button-next::after,
.searchh .loaded .Related-projects .swiper-button-prev::before,
.searchh .loaded .Related-projects .swiper-button-prev::after {
  content: none;
}
.searchh .loaded .Related-projects .swiper-button-next svg,
.searchh .loaded .Related-projects .swiper-button-prev svg {
  width: 10px;
}
.searchh .loaded .Related-projects .swiper-button-prev {
  left: unset;
  left: 0;
}
.searchh .loaded .news {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.searchh .loaded .news > .Title {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.searchh .loaded .news > .Title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.04px;
  color: #1D2F3B;
}
.searchh .loaded .news .Newslist {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  margin-top: 1.5em;
}
.searchh .loaded .news .Newslist .swiper-news,
.searchh .loaded .news .Newslist .swiper-slide {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.searchh .loaded .news .swiper-button-next,
.searchh .loaded .news .swiper-button-prev {
  width: 55px;
  z-index: 1;
  right: 0;
  top: 35%;
  right: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  transform: skew(5deg) rotate(4deg);
  -webkit-transform: skew(5deg) rotate(4deg);
  -moz-transform: skew(5deg) rotate(4deg);
  -ms-transform: skew(5deg) rotate(4deg);
  -o-transform: skew(5deg) rotate(4deg);
}
.searchh .loaded .news .swiper-button-next::before, .searchh .loaded .news .swiper-button-next::after,
.searchh .loaded .news .swiper-button-prev::before,
.searchh .loaded .news .swiper-button-prev::after {
  content: none;
}
.searchh .loaded .news .swiper-button-next svg,
.searchh .loaded .news .swiper-button-prev svg {
  width: 10px;
}
.searchh .loaded .news .swiper-button-prev {
  left: unset;
  left: 0;
  transform: skew(-2deg) rotateY(-20deg);
}
.searchh .loaded .Blogs {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.searchh .loaded .Blogs > .Title {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.searchh .loaded .Blogs > .Title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.04px;
  color: #1D2F3B;
}
.searchh .loaded .Blogs .Newslist {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  margin-top: 1.5em;
}
.searchh .loaded .Blogs .Newslist .swiper-blog,
.searchh .loaded .Blogs .Newslist .swiper-slide {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.searchh .loaded .projects {
  width: 95%;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}
.searchh .loaded .projects > .Title {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.searchh .loaded .projects > .Title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.04px;
  color: #1D2F3B;
}
.searchh .loaded .projects .Projectlist {
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 5em;
  margin-top: 1.5em;
}
.searchh .loaded .projects .Projectlist .swiper-project,
.searchh .loaded .projects .Projectlist .swiper-slide {
  width: 100%;
  display: flex;
}
.searchh .loaded .projects .swiper-button-next,
.searchh .loaded .projects .swiper-button-prev {
  width: 55px;
  right: 0;
  z-index: 1;
  top: 35%;
  right: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  transform: skew(5deg) rotate(4deg);
  -webkit-transform: skew(5deg) rotate(4deg);
  -moz-transform: skew(5deg) rotate(4deg);
  -ms-transform: skew(5deg) rotate(4deg);
  -o-transform: skew(5deg) rotate(4deg);
}
.searchh .loaded .projects .swiper-button-next::before, .searchh .loaded .projects .swiper-button-next::after,
.searchh .loaded .projects .swiper-button-prev::before,
.searchh .loaded .projects .swiper-button-prev::after {
  content: none;
}
.searchh .loaded .projects .swiper-button-next svg,
.searchh .loaded .projects .swiper-button-prev svg {
  width: 10px;
}
.searchh .loaded .projects .swiper-button-prev {
  left: unset;
  left: 0;
  transform: skew(-2deg) rotateY(-20deg);
}/*# sourceMappingURL=f_style.css.map */