.gallery {
  background-color: #f9f2ea;
  overflow: hidden;
}
.gallery .section1 {
  padding-top: 239px;
  margin-bottom: 152px;
}
.gallery .section1 .sec1Para {
  padding-bottom: 122px;
}
.gallery .section1 .sec1Para p {
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.57px;
  text-align: center;
}
.gallery .section1 .scrollContainer .topS {
  display: flex;
  justify-content: center;
  align-items: end;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-bottom: 35px;
}
.gallery .section1 .scrollContainer .btmS {
  display: flex;
  justify-content: center;
  align-items: top;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.gallery .section2 {
  display: flex;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
  background-color: white;
}
.gallery .section2 .lSide {
  padding-left: 36px;
}
.gallery .section2 .lSide h1 {
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.57px;
  text-align: right;
  margin-bottom: 20px;
}
.gallery .section2 .lSide .para {
  margin-bottom: 20px;
}
.gallery .section2 .lSide .para p,
.gallery .section2 .lSide .para summary {
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 300;
  line-height: 27.57px;
  text-align: right;
}
.gallery .section2 .readmore {
  cursor: text;
  position: relative;
}
.gallery .section2 .readmore summary {
  display: -webkit-box;
  pointer-events: none;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.gallery .section2 .readmore summary:after {
  bottom: -40px;
  display: block;
  cursor: pointer;
  position: absolute;
  pointer-events: initial;
  color: rgba(29, 47, 59, 0.5019607843);
}
.gallery .section2 .readmore:not([open]) summary:after {
  content: attr(data-more);
}
.gallery .section2 .readmore[open] summary {
  -webkit-line-clamp: unset;
}
.gallery .section2 .readmore[open] summary:after {
  content: attr(data-less);
}
.gallery .section3 {
  position: relative;
}
.gallery .section3 .scaleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}
.gallery .section3 .scaleContainer .imgS {
  position: absolute;
  width: 100%;
  height: 100%;
}
.gallery .section3 .scaleContainer .imgS img {
  width: 100%;
  height: 100%;
  filter: brightness(0.65);
}
.gallery .section3 .overlayItems {
  position: absolute;
}
.gallery .section3 .overlayItems .galleryBtn {
  width: 258px;
  height: 36px;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: center;
  border: 0.5px solid #f9f2ea;
  cursor: pointer;
}
.gallery .section3 .overlayItems .galleryBtn span {
  background-color: #f9f2ea;
  width: 10px;
  height: 10px;
}
.gallery .section3 .overlayItems .galleryBtn p {
  font-family: IRANSANS;
  color: #f9f2ea;
  font-size: 14px;
  font-weight: 300;
  line-height: 21.91px;
  text-align: left;
}
.gallery .section3 .overlayItems .scrollbarGallery {
  height: 2px;
  margin-top: 22px;
  overflow: hidden;
  position: relative;
  width: 258px;
  background-color: rgba(255, 255, 255, 0.5019607843);
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery .section3 .overlayItems .scrollbarGallery span {
  background-color: white;
  position: absolute;
  height: 100%;
}
.gallery .section3 .overlayItems .sc {
  margin-top: 10px;
}
.gallery .section3 .overlayItems .sc p {
  font-family: IRANSANS;
  color: #f9f2ea;
  font-size: 14px;
  font-weight: 400;
  line-height: 21.91px;
  text-align: center;
}
.gallery .section4 {
  margin: 100px 0;
  background-color: #1d2f3b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gallery .section4 .lSide {
  padding: 0 68px 0 62px;
}
.gallery .section4 .lSide h2 {
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.57px;
  text-align: right;
  margin-bottom: 20px;
  color: white;
}
.gallery .section4 .lSide .para {
  margin-bottom: 20px;
}
.gallery .section4 .lSide .para p,
.gallery .section4 .lSide .para summary {
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 300;
  color: white;
  line-height: 27.57px;
  text-align: right;
}
.gallery .section4 .lSide .readmore {
  cursor: text;
  position: relative;
}
.gallery .section4 .lSide .readmore summary {
  display: -webkit-box;
  pointer-events: none;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.gallery .section4 .lSide .readmore summary:after {
  bottom: -40px;
  display: block;
  cursor: pointer;
  position: absolute;
  pointer-events: initial;
  color: rgba(255, 255, 255, 0.5019607843);
}
.gallery .section4 .lSide .readmore:not([open]) summary:after {
  content: attr(data-more);
}
.gallery .section4 .lSide .readmore[open] summary {
  -webkit-line-clamp: unset;
}
.gallery .section4 .lSide .readmore[open] summary:after {
  content: attr(data-less);
}
.gallery .section4 .inVideo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery .section4 .inVideo .playbtn {
  position: absolute;
  cursor: pointer;
}
.gallery .section5 h3 {
  margin-bottom: 98px;
  text-align: center;
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.57px;
}
.gallery .section5 .sliderSection {
  margin-bottom: 100px;
}
.gallery .section5 .sliderSection .swiper {
  padding: 0 80px;
}
.gallery .section5 .sliderSection .swiper-slide {
  height: auto;
  box-shadow: 3px 4px 15.4px 0px rgba(119, 119, 119, 0.2509803922);
  background-color: #1d2f3b;
}
.gallery .section5 .sliderSection .serBox {
  padding: 40px 15px;
  box-shadow: none;
  background-color: transparent;
}
.gallery .section5 .sliderSection .serBox .title span {
  font-family: IRANSANS;
  font-size: 25px;
  font-weight: 400;
  display: block;
  line-height: 39.13px;
  width: 100%;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
  text-align: right;
  color: white;
}
.gallery .section5 .sliderSection .serBox .title h4 {
  font-family: IRANSANS;
  color: white;
  margin: 4px 0 79px 0;
  font-size: 25px;
  font-weight: 400;
  line-height: 39.13px;
  text-align: right;
}
.gallery .section5 .sliderSection .serBox .para p {
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
  color: white;
  text-align: right;
}

.pause {
  opacity: 1;
}

.play {
  opacity: 0;
  display: none;
}

.aboutUs .section1 {
  display: flex;
  padding-top: 175px;
}
.aboutUs .section1 .rSide {
  margin-top: 26px;
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
}
.aboutUs .section1 .rSide .overPara {
  position: absolute;
  padding: 0 83px 0 130px;
}
.aboutUs .section1 .rSide .overPara .title {
  display: flex;
  justify-content: right;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: baseline;
}
.aboutUs .section1 .rSide .overPara .title h1 {
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: right;
  color: white;
}
.aboutUs .section1 .rSide .overPara .para {
  margin-top: 45px;
}
.aboutUs .section1 .rSide .overPara .para p {
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: white;
}
.aboutUs .section1 .rSide .back {
  height: 72.055vh;
  width: 100%;
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  background-color: #1d2f3b;
}
.aboutUs .section1 .lSide {
  width: 50%;
  z-index: 1;
}
.aboutUs .section1 .lSide .imgS {
  margin-right: -50px;
  display: flex;
  align-items: center;
  height: 64vh;
  overflow: hidden;
}
.aboutUs .section1 .lSide img {
  width: 100%;
}
.aboutUs .aboutNav {
  background-color: #fbfbfb;
  margin: 19px 0 130px 0;
}
.aboutUs .aboutNav ul {
  padding: 5px 80px;
  -moz-column-gap: 62px;
       column-gap: 62px;
  display: flex;
}
.aboutUs .aboutNav ul li {
  cursor: pointer;
  position: relative;
}
.aboutUs .aboutNav ul li::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  background-color: rgba(29, 47, 59, 0.3098039216);
}
.aboutUs .aboutNav ul li:hover::after {
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-name: navOut;
}
.aboutUs .aboutNav ul span {
  white-space: nowrap;
  font-family: IRANSANS;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.04px;
  text-align: right;
}
.aboutUs .aboutNav .activeNav::after {
  width: 40%;
  right: 0;
}
.aboutUs .section2 {
  display: flex;
}
.aboutUs .section2 .rSide {
  width: 50%;
}
.aboutUs .section2 .rSide .imgS {
  overflow: hidden;
  width: 100%;
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
}
.aboutUs .section2 .rSide img {
  width: 100%;
}
.aboutUs .section2 .lSide {
  margin-top: 26px;
  width: 50%;
  position: relative;
  display: flex;
  margin-top: 15px;
  align-items: center;
  /* From https://css.glass */
}
.aboutUs .section2 .lSide .overPara {
  padding: 0 22px 0 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
}
.aboutUs .section2 .lSide .overPara .title {
  display: flex;
  justify-content: right;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: baseline;
}
.aboutUs .section2 .lSide .overPara .title h1 {
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: right;
  color: #1d2f3b;
}
.aboutUs .section2 .lSide .overPara .para {
  margin-top: 45px;
}
.aboutUs .section2 .lSide .overPara .para p {
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}
.aboutUs .section2 .lSide .back {
  width: calc(100% + 90px);
  height: 72.055vh;
  margin-right: -90px;
  background: rgba(251, 251, 251, 0.44);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
}
.aboutUs .section3 {
  background-color: #1d2f3b;
  margin: 97px 0 80px 0;
  padding: 95px 80px;
}
.aboutUs .section3 .para {
  text-align: center;
}
.aboutUs .section3 .para p {
  color: white;
}
.aboutUs .section4 {
  display: flex;
}
.aboutUs .section4 .rSec {
  background-color: #191e22;
  padding: 0 98px 0 306px;
  height: 70vh;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
}
.aboutUs .section4 .rSec .title {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 27px;
}
.aboutUs .section4 .rSec .title h2 {
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  color: white;
  text-align: right;
}
.aboutUs .section4 .rSec .para p {
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: white;
}
.aboutUs .section4 .lSec {
  display: flex;
  align-items: center;
  width: 50%;
}
.aboutUs .section4 .lSec .imgS {
  width: calc(100% + 100px);
  margin-right: -100px;
}
.aboutUs .section4 .lSec .imgS img {
  width: 100%;
}
.aboutUs .section5 {
  margin: 60px 0 38px;
  background-color: #d9d9d9;
  padding: 50px 80px 65px;
  text-align: center;
}
.aboutUs .section5 span {
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: center;
  display: block;
  margin-bottom: 40px;
}
.aboutUs .section5 p {
  font-family: IRANSANS;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.04px;
  text-align: center;
}
.aboutUs .section6 {
  display: flex;
  align-items: center;
  padding: 0 80px;
  -moz-column-gap: 75px;
       column-gap: 75px;
}
.aboutUs .section6 .lSide .title {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 60px;
}
.aboutUs .section6 .lSide .title h3 {
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  color: #1d2f3b;
  text-align: right;
}
.aboutUs .section6 .lSide .para p {
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}
.aboutUs .section6 .rSide img {
  width: 100%;
}
.aboutUs .section7 {
  margin-top: 48px;
  padding: 0 80px 100px 80px;
}
.aboutUs .section7 .title {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.aboutUs .section7 .title h3 {
  color: #1d2f3b;
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: right;
}
.aboutUs .section7 .collSec {
  margin-top: 60px;
}
.aboutUs .section7 .collSec .collGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 35px;
}
.aboutUs .section7 .collSec .collGrid .collBox {
  width: 100%;
}
.aboutUs .section7 .collSec .collGrid .collBox .imgS {
  display: flex;
  align-items: center;
  position: relative;
}
.aboutUs .section7 .collSec .collGrid .collBox .imgS img {
  width: 100%;
}
.aboutUs .section7 .collSec .collGrid .collBox .imgS::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(29, 47, 59, 0.5), rgba(29, 47, 59, 0.5));
  transition: 0.5s ease;
  opacity: 0;
}
.aboutUs .section7 .collSec .collGrid .collBox .collName {
  margin-top: 5px;
}
.aboutUs .section7 .collSec .collGrid .collBox .collName span {
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 500;
  line-height: 21.91px;
  text-align: right;
  color: #1d2f3b;
  display: block;
  margin-bottom: 5px;
}
.aboutUs .section7 .collSec .collGrid .collBox .collName p {
  color: #305367;
  font-family: IRANSANS;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.78px;
  text-align: right;
}
.aboutUs .section7 .collSec .collGrid .collBox:hover .imgS::after {
  opacity: 1 !important;
}
@keyframes navOut {
  0% {
    width: 40%;
    right: 0;
    left: auto;
  }
  49% {
    width: 100%;
    right: 0;
    left: auto;
  }
  50% {
    width: 100%;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 40%;
  }
}

.Home {
  background-color: #1d2f3b;
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
.Home #fullpage .section1 {
  position: relative;
  overflow: hidden;
}
.Home #fullpage .section1 .scrollD {
  position: absolute;
  bottom: 82px;
  left: 50%;
  z-index: 2;
}
.Home #fullpage .section1 .scrollD .chevron {
  position: absolute;
  width: 27.18px;
  height: 2px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.Home #fullpage .section1 .scrollD .chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
.Home #fullpage .section1 .scrollD .chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
.Home #fullpage .section1 .scrollD .chevron:before,
.Home #fullpage .section1 .scrollD .chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: white;
}
.Home #fullpage .section1 .scrollD .chevron:before {
  left: 0;
  transform: skew(0deg, 45deg);
}
.Home #fullpage .section1 .scrollD .chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -45deg);
}
.Home #fullpage .section1 .swiper-slide {
  display: flex;
}
.Home #fullpage .section1 .swiper-slide .imgS {
  display: flex;
}
.Home #fullpage .section1 img {
  height: 100vh;
  width: 100vw;
  filter: brightness(0.65);
}
.Home #fullpage .fp-auto-height {
  height: auto !important;
}
.Home #fullpage .fp-auto-height .fp-tableCell {
  height: auto !important;
}
.Home #fullpage .introProj {
  background-color: #1d2f3b;
  text-align: center;
  padding: 58px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.Home #fullpage .introProj h1 {
  color: white;
  font-family: IRANSANS;
  font-size: 34px;
  font-weight: 400;
  line-height: 53.22px;
  text-align: left;
}
.Home #fullpage .section2 {
  position: relative;
}
.Home #fullpage .section2 .imgS {
  height: 100vh;
  position: relative;
}
.Home #fullpage .section2 .imgS img {
  width: 100vw;
  height: 100vh;
  filter: brightness(0.3);
  transition: 1s ease;
}
.Home #fullpage .section2 .imgS::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.82) 0%, rgba(0, 212, 255, 0) 34%);
}
.Home #fullpage .section2 .titleProj {
  position: absolute;
  text-align: center;
  bottom: 80px;
  left: 0;
  right: 0;
}
.Home #fullpage .section2 .titleProj a {
  text-decoration: none;
  color: white;
  font-family: "IRANSANS";
  font-size: 24px;
  font-weight: 500;
  line-height: 37.57px;
  text-align: center;
}
.Home #fullpage .section2 .titleProj .scrollD {
  bottom: unset;
  left: unset;
  margin: 0 auto;
  position: relative;
  z-index: 1000;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.Home #fullpage .section2 .titleProj .scrollD .chevron {
  position: absolute;
  width: 27.18px;
  height: 2px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.Home #fullpage .section2 .titleProj .scrollD .chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
.Home #fullpage .section2 .titleProj .scrollD .chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
.Home #fullpage .section2 .titleProj .scrollD .chevron:before,
.Home #fullpage .section2 .titleProj .scrollD .chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: white;
}
.Home #fullpage .section2 .titleProj .scrollD .chevron:before {
  left: 0;
  transform: skew(0deg, 45deg);
}
.Home #fullpage .section2 .titleProj .scrollD .chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -45deg);
}
.Home #fullpage .section2.active img {
  filter: brightness(1) !important;
  transition-delay: 0.5s;
}
.Home #fullpage .activeImg img {
  filter: brightness(1) !important;
}
.Home .gallery {
  background-color: #1d2f3b;
}
.Home .gallery .section1 {
  margin: 0 auto 142px auto;
  padding-top: 118px;
  width: 90%;
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  justify-content: space-between;
}
.Home .gallery .section1 .scrollContainer {
  width: 100%;
  overflow: hidden;
}
.Home .gallery .para {
  text-align: left;
  direction: ltr;
}
.Home .gallery .para p {
  white-space: nowrap;
  font-family: "IRANSANS";
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  color: #f9f2ea;
}
.Home .gallery .para p:nth-child(2) {
  margin-left: 30px;
}
.Home .gallery .para p:nth-child(4) {
  margin-left: 20px;
}
.Home .gallery .galleryLink a {
  margin: 0 auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 205px;
  border: 1px solid #1d2f3b;
  height: 55px;
  color: #1d2f3b;
}
.Home .gallery .galleryLink a span {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #1d2f3b;
}
.Home .section3 {
  min-height: 100vh;
}
.Home .section4 {
  margin-top: 83px;
  padding: 0 81px;
  margin-bottom: 87px;
}
.Home .section4 .title4 {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 124px;
}
.Home .section4 .newsContainer ul li {
  transition: 1s ease;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.Home .section4 .newsContainer ul li .imgS {
  width: 47%;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 102px;
}
.Home .section4 .newsContainer ul li .imgS img {
  width: 100%;
}
.Home .section4 .newsContainer ul li .rSide {
  display: flex;
  align-items: center;
  -moz-column-gap: 110px;
       column-gap: 110px;
}
.Home .section4 .newsContainer ul li .date {
  min-width: 100px;
}
.Home .section4 .newsContainer ul li .date span {
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 500;
  line-height: 21.91px;
  text-align: right;
  color: #1d2f3b;
}
.Home .section4 .newsContainer ul li .titL a {
  text-decoration: none;
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 500;
  line-height: 21.91px;
  text-align: right;
  color: #1d2f3b;
}
.Home .section4 .newsContainer ul li:hover {
  filter: contrast(0.5);
}

.fp-watermark {
  display: none;
}

.newAbout {
  direction: rtl;
  background-color: #1d2f3b;
}
.newAbout .section1 {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
}
.newAbout .section1 ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-bottom: 42px;
}
.newAbout .section1 ul li a,
.newAbout .section1 ul li span,
.newAbout .section1 ul li h2 {
  font-family: "IRANSANS";
  font-size: 14px;
  font-weight: 300;
  line-height: 21.91px;
  color: #d9d9d9;
}
.newAbout .section1 .imgS {
  margin-bottom: 42px;
}
.newAbout .section1 .imgS img {
  width: 100%;
}
.newAbout .section2 {
  display: flex;
  position: relative;
  margin-bottom: 161px;
}
.newAbout .section2::after {
  content: "";
  background-color: #305367;
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  width: 70%;
}
.newAbout .section2 .rSide {
  padding: 100px 5% 100px 0;
  position: relative;
  z-index: 1;
  width: 55%;
  padding-left: 60px;
}
.newAbout .section2 .rSide .title {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: end;
  margin-bottom: 30px;
}
.newAbout .section2 .rSide .title h1 {
  font-family: "IRANSANS";
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: right;
  color: white;
  margin-bottom: -10px;
}
.newAbout .section2 .rSide .para p {
  font-family: "IRANSANS";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  color: white;
}
.newAbout .section2 .lSide {
  position: relative;
  z-index: 1;
  padding-left: 5%;
  width: 45%;
  display: flex;
  align-items: end;
}
.newAbout .section2 .lSide .imgS {
  transform: translateY(44px);
  width: 100%;
}
.newAbout .section2 .lSide .imgS img {
  width: 100%;
}
.newAbout .section3 {
  width: 90%;
  margin: 0 auto 117px auto;
}
.newAbout .section3 img {
  width: 100%;
}
.newAbout .section3 .title {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: end;
  margin-bottom: 30px;
}
.newAbout .section3 .title h3 {
  font-family: "IRANSANS";
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: right;
  color: white;
  margin-bottom: -10px;
}
.newAbout .section4 {
  display: flex;
  position: relative;
  margin-bottom: 67px;
}
.newAbout .section4::after {
  content: "";
  background-color: #305367;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60%;
}
.newAbout .section4 .rSide {
  padding: 100px 0 100px 5%;
  position: relative;
  z-index: 1;
  width: 45%;
  padding-left: 5%;
}
.newAbout .section4 .rSide .title {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: end;
  margin-bottom: 30px;
}
.newAbout .section4 .rSide .title h3 {
  font-family: "IRANSANS";
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: right;
  color: white;
  margin-bottom: -10px;
}
.newAbout .section4 .rSide .para p {
  font-family: "IRANSANS";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  color: white;
}
.newAbout .section4 .lSide {
  position: relative;
  z-index: 1;
  padding-left: 5%;
  width: 55%;
}
.newAbout .section4 .lSide .imgS {
  transform: translateY(-44px);
  width: 100%;
}
.newAbout .section4 .lSide .imgS img {
  width: 100%;
}

.newGallery {
  background-color: #1d2f3b;
}
.newGallery .breadCrumb {
  width: 90%;
  margin: 0 auto;
  padding-top: 117px;
}
.newGallery .breadCrumb ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-bottom: 42px;
}
.newGallery .breadCrumb ul li a,
.newGallery .breadCrumb ul li span,
.newGallery .breadCrumb ul li h2 {
  font-family: "IRANSANS";
  font-size: 14px;
  font-weight: 300;
  line-height: 21.91px;
  color: #d9d9d9;
}
.newGallery .section1 {
  margin: 0 auto 142px auto;
  padding-top: 90px;
  width: 90%;
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  justify-content: space-between;
}
.newGallery .section1 .scrollContainer {
  width: 100%;
  overflow: hidden;
}
.newGallery .section1 .scrollContainer .imgS {
  cursor: pointer;
}
.newGallery .section1 .para {
  text-align: right;
  direction: rtl;
}
.newGallery .section1 .para p {
  white-space: nowrap;
  font-family: "IRANSANS";
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
  text-align: right;
  color: #f9f2ea;
}
.newGallery .galleryLink a {
  margin: 0 auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 205px;
  border: 1px solid #1d2f3b;
  height: 55px;
  color: #1d2f3b;
}
.newGallery .galleryLink a span {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #1d2f3b;
}
.newGallery .section2 {
  margin-bottom: 130px;
}
.newGallery .section2 h2 {
  font-family: "IRANSANS";
  font-size: 24px;
  font-weight: 500;
  line-height: 37.57px;
  text-align: center;
  color: #f9f2ea;
  margin-bottom: 46px;
}
.newGallery .section2 .sliderSection {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  -moz-column-gap: 53px;
       column-gap: 53px;
}
.newGallery .section2 .sliderSection .serviceSlider {
  overflow: hidden;
}
.newGallery .section2 .sliderSection .serviceSlider .swiper-slide {
  height: auto;
}
.newGallery .section2 .sliderSection .serviceSlider .innerService {
  padding: 42px 25px 30px 25px;
  background-color: #305367;
  border: 1px solid rgba(255, 255, 255, 0.438);
  height: 100%;
}
.newGallery .section2 .sliderSection .serviceSlider .innerService .number {
  border-bottom: 1px solid rgba(255, 255, 255, 0.349);
}
.newGallery .section2 .sliderSection .serviceSlider .innerService .number span {
  font-family: "IRANSANS";
  font-size: 25px;
  font-weight: 400;
  line-height: 39.13px;
  text-align: right;
  color: white;
}
.newGallery .section2 .sliderSection .serviceSlider .innerService h4 {
  margin-bottom: 70px;
  font-family: "IRANSANS";
  font-size: 25px;
  font-weight: 400;
  line-height: 39.13px;
  text-align: right;
  color: white;
}
.newGallery .section2 .sliderSection .serviceSlider .innerService .para p {
  font-family: "IRANSANS";
  font-size: 14px;
  font-weight: 300;
  line-height: 29px;
  text-align: justify;
  color: white;
}
.newGallery .section3 {
  display: flex;
  position: relative;
  margin-bottom: 161px;
}
.newGallery .section3::after {
  content: "";
  background-color: #305367;
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  width: 70%;
}
.newGallery .section3 .rSide {
  padding: 100px 5% 100px 0;
  position: relative;
  z-index: 1;
  width: 55%;
  padding-left: 60px;
}
.newGallery .section3 .rSide .title {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: end;
  margin-bottom: 30px;
}
.newGallery .section3 .rSide .title h1 {
  font-family: "IRANSANS";
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: right;
  color: white;
  margin-bottom: -10px;
}
.newGallery .section3 .rSide .para p {
  font-family: "IRANSANS";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  color: white;
}
.newGallery .section3 .lSide {
  position: relative;
  z-index: 1;
  padding-left: 5%;
  width: 45%;
  display: flex;
  align-items: end;
}
.newGallery .section3 .lSide .imgS {
  transform: translateY(44px);
  width: 100%;
}
.newGallery .section3 .lSide .imgS img {
  width: 100%;
}

.sGallery .imgS {
  overflow: hidden;
}/*# sourceMappingURL=m-style.css.map */