@charset "UTF-8";
.gallery {
  background-color: #f9f2ea;
  overflow: hidden;
}
.gallery .section1 {
  padding-top: 239px;
  margin-bottom: 152px;
}
.gallery .section1 .sec1Para {
  padding-bottom: 122px;
}
.gallery .section1 .sec1Para p {
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.57px;
  text-align: center;
}
.gallery .section1 .scrollContainer .topS {
  display: flex;
  justify-content: center;
  align-items: end;
  -moz-column-gap: 72px;
       column-gap: 72px;
  margin-bottom: 43px;
}
.gallery .section1 .scrollContainer .btmS {
  display: flex;
  justify-content: center;
  align-items: top;
  -moz-column-gap: 72px;
       column-gap: 72px;
}
.gallery .section2 {
  display: flex;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
  background-color: white;
}
.gallery .section2 .lSide {
  padding-left: 36px;
}
.gallery .section2 .lSide h1 {
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.57px;
  text-align: right;
  margin-bottom: 20px;
}
.gallery .section2 .lSide .para {
  margin-bottom: 20px;
}
.gallery .section2 .lSide .para p,
.gallery .section2 .lSide .para summary {
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 300;
  line-height: 27.57px;
  text-align: right;
}
.gallery .section2 .readmore {
  cursor: text;
  position: relative;
}
.gallery .section2 .readmore summary {
  display: -webkit-box;
  pointer-events: none;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.gallery .section2 .readmore summary:after {
  bottom: -40px;
  display: block;
  cursor: pointer;
  position: absolute;
  pointer-events: initial;
  color: rgba(29, 47, 59, 0.5019607843);
}
.gallery .section2 .readmore:not([open]) summary:after {
  content: attr(data-more);
}
.gallery .section2 .readmore[open] summary {
  -webkit-line-clamp: unset;
}
.gallery .section2 .readmore[open] summary:after {
  content: attr(data-less);
}
.gallery .section3 {
  position: relative;
}
.gallery .section3 .scaleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}
.gallery .section3 .scaleContainer .imgS {
  position: absolute;
  width: 100%;
  height: 100%;
}
.gallery .section3 .scaleContainer .imgS img {
  width: 100%;
  height: 100%;
  filter: brightness(0.65);
}
.gallery .section3 .overlayItems {
  position: absolute;
}
.gallery .section3 .overlayItems .galleryBtn {
  width: 258px;
  height: 36px;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: center;
  border: 0.5px solid #f9f2ea;
  cursor: pointer;
}
.gallery .section3 .overlayItems .galleryBtn span {
  background-color: #f9f2ea;
  width: 10px;
  height: 10px;
}
.gallery .section3 .overlayItems .galleryBtn p {
  font-family: IRANSANS;
  color: #f9f2ea;
  font-size: 14px;
  font-weight: 300;
  line-height: 21.91px;
  text-align: left;
}
.gallery .section3 .overlayItems .scrollbarGallery {
  height: 2px;
  margin-top: 22px;
  overflow: hidden;
  position: relative;
  width: 258px;
  background-color: rgba(255, 255, 255, 0.5019607843);
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery .section3 .overlayItems .scrollbarGallery span {
  background-color: white;
  position: absolute;
  height: 100%;
}
.gallery .section3 .overlayItems .sc {
  margin-top: 10px;
}
.gallery .section3 .overlayItems .sc p {
  font-family: IRANSANS;
  color: #f9f2ea;
  font-size: 14px;
  font-weight: 400;
  line-height: 21.91px;
  text-align: center;
}
.gallery .section4 {
  margin: 100px 0;
  background-color: #1d2f3b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gallery .section4 .lSide {
  padding: 0 68px 0 62px;
}
.gallery .section4 .lSide h2 {
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.57px;
  text-align: right;
  margin-bottom: 20px;
  color: white;
}
.gallery .section4 .lSide .para {
  margin-bottom: 20px;
}
.gallery .section4 .lSide .para p,
.gallery .section4 .lSide .para summary {
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 300;
  color: white;
  line-height: 27.57px;
  text-align: right;
}
.gallery .section4 .lSide .readmore {
  cursor: text;
  position: relative;
}
.gallery .section4 .lSide .readmore summary {
  display: -webkit-box;
  pointer-events: none;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.gallery .section4 .lSide .readmore summary:after {
  bottom: -40px;
  display: block;
  cursor: pointer;
  position: absolute;
  pointer-events: initial;
  color: rgba(255, 255, 255, 0.5019607843);
}
.gallery .section4 .lSide .readmore:not([open]) summary:after {
  content: attr(data-more);
}
.gallery .section4 .lSide .readmore[open] summary {
  -webkit-line-clamp: unset;
}
.gallery .section4 .lSide .readmore[open] summary:after {
  content: attr(data-less);
}
.gallery .section4 .inVideo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery .section4 .inVideo .playbtn {
  position: absolute;
  cursor: pointer;
}
.gallery .section5 h3 {
  margin-bottom: 98px;
  text-align: center;
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.57px;
}
.gallery .section5 .sliderSection {
  margin-bottom: 100px;
}
.gallery .section5 .sliderSection .swiper {
  padding: 0 80px;
}
.gallery .section5 .sliderSection .serBox {
  padding: 40px 15px;
  box-shadow: 3px 4px 15.4px 0px rgba(119, 119, 119, 0.2509803922);
  background-color: #1d2f3b;
}
.gallery .section5 .sliderSection .serBox .title span {
  font-family: IRANSANS;
  font-size: 25px;
  font-weight: 400;
  display: block;
  line-height: 39.13px;
  width: 100%;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
  text-align: right;
  color: white;
}
.gallery .section5 .sliderSection .serBox .title h4 {
  font-family: IRANSANS;
  color: white;
  margin: 4px 0 79px 0;
  font-size: 25px;
  font-weight: 400;
  line-height: 39.13px;
  text-align: right;
}
.gallery .section5 .sliderSection .serBox .para p {
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
  color: white;
  text-align: right;
}

.pause {
  opacity: 1;
}

.play {
  opacity: 0;
  display: none;
}

.aboutUs .section1 {
  display: flex;
  padding-top: 175px;
}
.aboutUs .section1 .rSide {
  margin-top: 26px;
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
}
.aboutUs .section1 .rSide .overPara {
  position: absolute;
  padding: 0 83px 0 130px;
}
.aboutUs .section1 .rSide .overPara .title {
  display: flex;
  justify-content: right;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: baseline;
}
.aboutUs .section1 .rSide .overPara .title h1 {
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: right;
  color: white;
}
.aboutUs .section1 .rSide .overPara .para {
  margin-top: 45px;
}
.aboutUs .section1 .rSide .overPara .para p {
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: white;
}
.aboutUs .section1 .rSide .back {
  height: 72.055vh;
  width: 100%;
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  background-color: #1d2f3b;
}
.aboutUs .section1 .lSide {
  width: 50%;
  z-index: 1;
}
.aboutUs .section1 .lSide .imgS {
  margin-right: -50px;
}
.aboutUs .section1 .lSide img {
  width: 100%;
}
.aboutUs .aboutNav {
  background-color: #fbfbfb;
  margin: 19px 0 130px 0;
}
.aboutUs .aboutNav ul {
  padding: 5px 80px;
  -moz-column-gap: 62px;
       column-gap: 62px;
  display: flex;
}
.aboutUs .aboutNav ul li {
  cursor: pointer;
  position: relative;
}
.aboutUs .aboutNav ul li::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  background-color: rgba(29, 47, 59, 0.3098039216);
}
.aboutUs .aboutNav ul li:hover::after {
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-name: navOut;
}
.aboutUs .aboutNav ul span {
  white-space: nowrap;
  font-family: IRANSANS;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.04px;
  text-align: right;
}
.aboutUs .aboutNav .activeNav::after {
  width: 40%;
  right: 0;
}
.aboutUs .section2 {
  display: flex;
}
.aboutUs .section2 .rSide {
  width: 50%;
}
.aboutUs .section2 .rSide .imgS {
  overflow: hidden;
  width: 100%;
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
}
.aboutUs .section2 .rSide img {
  width: 100%;
}
.aboutUs .section2 .lSide {
  margin-top: 26px;
  width: 50%;
  position: relative;
  display: flex;
  margin-top: 15px;
  align-items: center;
  /* From https://css.glass */
}
.aboutUs .section2 .lSide .overPara {
  padding: 0 22px 0 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
}
.aboutUs .section2 .lSide .overPara .title {
  display: flex;
  justify-content: right;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: baseline;
}
.aboutUs .section2 .lSide .overPara .title h1 {
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: right;
  color: #1d2f3b;
}
.aboutUs .section2 .lSide .overPara .para {
  margin-top: 45px;
}
.aboutUs .section2 .lSide .overPara .para p {
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}
.aboutUs .section2 .lSide .back {
  width: calc(100% + 90px);
  height: 72.055vh;
  margin-right: -90px;
  background: rgba(251, 251, 251, 0.44);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
}
.aboutUs .section3 {
  background-color: #1d2f3b;
  margin: 97px 0 80px 0;
  padding: 95px 80px;
}
.aboutUs .section3 .para {
  text-align: center;
}
.aboutUs .section3 .para p {
  color: white;
}
.aboutUs .section4 {
  display: flex;
}
.aboutUs .section4 .rSec {
  background-color: #191e22;
  padding: 0 98px 0 306px;
  height: 70vh;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
}
.aboutUs .section4 .rSec .title {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 27px;
}
.aboutUs .section4 .rSec .title h2 {
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  color: white;
  text-align: right;
}
.aboutUs .section4 .rSec .para p {
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: white;
}
.aboutUs .section4 .lSec {
  display: flex;
  align-items: center;
  width: 50%;
}
.aboutUs .section4 .lSec .imgS {
  width: calc(100% + 100px);
  margin-right: -100px;
}
.aboutUs .section4 .lSec .imgS img {
  width: 100%;
}
.aboutUs .section5 {
  margin: 60px 0 38px;
  background-color: #d9d9d9;
  padding: 50px 80px 65px;
  text-align: center;
}
.aboutUs .section5 span {
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: center;
  display: block;
  margin-bottom: 40px;
}
.aboutUs .section5 p {
  font-family: IRANSANS;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.04px;
  text-align: center;
}
.aboutUs .section6 {
  display: flex;
  align-items: center;
  padding: 0 80px;
  -moz-column-gap: 75px;
       column-gap: 75px;
}
.aboutUs .section6 .lSide .title {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 60px;
}
.aboutUs .section6 .lSide .title h3 {
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  color: #1d2f3b;
  text-align: right;
}
.aboutUs .section6 .lSide .para p {
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}
.aboutUs .section6 .rSide img {
  width: 100%;
}
.aboutUs .section7 {
  margin-top: 48px;
  padding: 0 80px 100px 80px;
}
.aboutUs .section7 .title {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.aboutUs .section7 .title h3 {
  color: #1d2f3b;
  font-family: IRANSANS;
  font-size: 24px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: right;
}
.aboutUs .section7 .collSec {
  margin-top: 60px;
}
.aboutUs .section7 .collSec .collGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 35px;
}
.aboutUs .section7 .collSec .collGrid .collBox {
  width: 100%;
}
.aboutUs .section7 .collSec .collGrid .collBox .imgS {
  display: flex;
  align-items: center;
  position: relative;
}
.aboutUs .section7 .collSec .collGrid .collBox .imgS img {
  width: 100%;
}
.aboutUs .section7 .collSec .collGrid .collBox .imgS::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(29, 47, 59, 0.5), rgba(29, 47, 59, 0.5));
  transition: 0.5s ease;
  opacity: 0;
}
.aboutUs .section7 .collSec .collGrid .collBox .collName {
  margin-top: 5px;
}
.aboutUs .section7 .collSec .collGrid .collBox .collName span {
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 500;
  line-height: 21.91px;
  text-align: right;
  color: #1d2f3b;
  display: block;
  margin-bottom: 5px;
}
.aboutUs .section7 .collSec .collGrid .collBox .collName p {
  color: #305367;
  font-family: IRANSANS;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.78px;
  text-align: right;
}
.aboutUs .section7 .collSec .collGrid .collBox:hover .imgS::after {
  opacity: 1 !important;
}
@keyframes navOut {
  0% {
    width: 40%;
    right: 0;
    left: auto;
  }
  49% {
    width: 100%;
    right: 0;
    left: auto;
  }
  50% {
    width: 100%;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 40%;
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
.Home #fullpage .section1 {
  position: relative;
  overflow: hidden;
}
.Home #fullpage .section1 .swiper-slide {
  display: flex;
}
.Home #fullpage .section1 .swiper-slide .imgS {
  display: flex;
}
.Home #fullpage .section1 img {
  height: 100vh;
  width: 100vw;
  filter: brightness(0.65);
}
.Home #fullpage .section1 .scrollD {
  position: absolute;
  bottom: 82px;
  left: 50%;
  z-index: 10;
}
.Home #fullpage .section1 .scrollD .chevron {
  position: absolute;
  width: 27.18px;
  height: 2px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.Home #fullpage .section1 .scrollD .chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
.Home #fullpage .section1 .scrollD .chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
.Home #fullpage .section1 .scrollD .chevron:before,
.Home #fullpage .section1 .scrollD .chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: white;
}
.Home #fullpage .section1 .scrollD .chevron:before {
  left: 0;
  transform: skew(0deg, 45deg);
}
.Home #fullpage .section1 .scrollD .chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -45deg);
}
.Home #fullpage .fp-auto-height {
  height: auto !important;
}
.Home #fullpage .fp-auto-height .fp-tableCell {
  height: auto !important;
}
.Home #fullpage .introProj {
  background-color: #1d2f3b;
  text-align: center;
  padding: 58px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.Home #fullpage .introProj h1 {
  color: white;
  font-family: IRANSANS;
  font-size: 34px;
  font-weight: 400;
  line-height: 53.22px;
  text-align: left;
}
.Home #fullpage .section2 {
  position: relative;
}
.Home #fullpage .section2 .imgS {
  height: 100vh;
  position: relative;
}
.Home #fullpage .section2 .imgS img {
  width: 100vw;
  height: 100vh;
  filter: brightness(0.3);
  transition: 1s ease;
}
.Home #fullpage .section2 .imgS::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.82) 0%, rgba(0, 212, 255, 0) 34%);
}
.Home #fullpage .section2 .titleProj {
  position: absolute;
  text-align: center;
  bottom: 34px;
  left: 0;
  right: 0;
}
.Home #fullpage .section2 .titleProj a {
  text-decoration: none;
  color: white;
}
.Home #fullpage .section2.active img {
  filter: brightness(1) !important;
  transition-delay: 0.5s;
}
.Home #fullpage .activeImg img {
  filter: brightness(1) !important;
}
.Home .gallery {
  background-color: white;
}
.Home .gallery .section1 {
  padding-top: 118px;
  margin-bottom: 60px;
}
.Home .gallery .galleryLink a {
  margin: 0 auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 205px;
  border: 1px solid #1d2f3b;
  height: 55px;
  color: #1d2f3b;
}
.Home .gallery .galleryLink a span {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #1d2f3b;
}
.Home .section4 {
  margin-top: 83px;
  padding: 0 81px;
  margin-bottom: 87px;
}
.Home .section4 .title4 {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 124px;
}
.Home .section4 .newsContainer ul li {
  transition: 1s ease;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.Home .section4 .newsContainer ul li .imgS {
  width: 47%;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 102px;
}
.Home .section4 .newsContainer ul li .imgS img {
  width: 100%;
}
.Home .section4 .newsContainer ul li .date span {
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 500;
  line-height: 21.91px;
  text-align: right;
  color: #1d2f3b;
}
.Home .section4 .newsContainer ul li .titL a {
  text-decoration: none;
  font-family: IRANSANS;
  font-size: 14px;
  font-weight: 500;
  line-height: 21.91px;
  text-align: right;
  color: #1d2f3b;
}
.Home .section4 .newsContainer ul li:hover {
  filter: contrast(0.5);
}

.fp-watermark {
  display: none;
}

.swiper-button-prev::after {
  content: none !important;
}

.swiper-button-next::after {
  content: none !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

@font-face {
  font-family: "IRANSANSfa";
  font-style: normal;
  src: url("../../_fonts/IRANSANSfa.eot") format("eot"); /* IE9 Compat Modes */
  src: url("../../_fonts/IRANSANSfa.eot?#iefix") format("embedded-opentype"), url("../../_fonts/IRANSANSfa.woff2") format("woff2"), url("../../_fonts/IRANSANSfa.woff") format("woff"), url("../../_fonts/IRANSANSfa.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSANS";
  font-style: normal;
  src: url("../../_fonts/IRANSansWeb.eot") format("eot"); /* IE9 Compat Modes */
  src: url("../../_fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../../_fonts/IRANSansWeb.woff2") format("woff2"), url("../../_fonts/IRANSansWeb.woff") format("woff"), url("../../_fonts/IRANSansWeb.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSANS";
  font-weight: 800;
  src: url("../../_fonts/IRANSansWeb_Bold.eot") format("eot"); /* IE9 Compat Modes */
  src: url("../../_fonts/IRANSansWeb_Bold.eot?#iefix") format_("embedded-opentype"), url("../../_fonts/IRANSansWeb_Bold.woff2") format("woff2"), url("../../_fonts/IRANSansWeb_Bold.woff") format("woff"), url("../../_fonts/IRANSansWeb_Bold.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSANS";
  font-weight: 500;
  src: url("../../_fonts/IRANSansWeb(FaNum)_Medium.eot") format("eot"); /* IE9 Compat Modes */
  src: url("../../_fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix") format("embedded-opentype"), url("../../_fonts/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"), url("../../_fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"), url("../../_fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSANS";
  font-weight: 400;
  src: url("../../_fonts/IRANSansFaNum-Regular.eot") format("eot"); /* IE9 Compat Modes */
  src: url("../../_fonts/IRANSansFaNum-Regular.eot?#iefix") format("embedded-opentype"), url("../../_fonts/IRANSansFaNum-Regular.woff2") format("woff2"), url("../../_fonts/IRANSansFaNum-Regular.woff") format("woff"), url("../../_fonts/IRANSansFaNum-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSANS";
  font-weight: 300;
  src: url("../../_fonts/IRANSansFaNum-Light.eot") format("eot"); /* IE9 Compat Modes */
  src: url("../../_fonts/IRANSansFaNum-Light.eot?#iefix") format("embedded-opentype"), url("../../_fonts/IRANSansFaNum-Light.woff2") format("woff2"), url("../../_fonts/IRANSansFaNum-Light.woff") format("woff"), url("../../_fonts/IRANSansFaNum-Light.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSANSfa";
  font-style: normal;
  src: url("../../_fonts/IRANSANSfa.eot") format("eot"); /* IE9 Compat Modes */
  src: url("../../_fonts/IRANSANSfa.eot?#iefix") format("embedded-opentype"), url("../_fonts/IRANSANSfa.woff2") format("woff2"), url("../../_fonts/IRANSANSfa.woff") format("woff"), url("../../_fonts/IRANSANSfa.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSANS";
  font-style: normal;
  font-weight: 300;
  src: url("../../_fonts/IRANSansWeb.eot") format("eot"); /* IE9 Compat Modes */
  src: url("../../_fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../../_fonts/IRANSansWeb.woff2") format("woff2"), url("../fonts/IRANSANSfa.woff") format("woff"), url("../../_fonts/IRANSansWeb.ttf") format("truetype");
}
@font-face {
  font-family: "IRANSANS";
  font-style: normal;
  font-weight: 700;
  src: url("../../_fonts/IRANSansWeb_Bold.eot") format("eot"); /* IE9 Compat Modes */
  src: url("../../_fonts/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../../_fonts/IRANSansWeb_Bold.woff2") format("woff2"), url("../../_fonts/IRANSansWeb_Bold") format("woff"), url("../../_fonts/IRANSansWeb_Bold.ttf") format("truetype");
}
* {
  font-family: "IRANSANS";
}

ul, li, p, h2, h1, h3, h4, h5, h6 {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  overflow-y: visible;
  height: auto;
  overflow-x: hidden !important;
  margin: 0;
  direction: rtl;
  padding: 0;
  background-color: transparent !important;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
}
body.newss .loading {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #1D2F3B;
  z-index: 999999;
  pointer-events: none;
}

.navigation {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.2em;
  margin: 0 auto;
  margin-top: 7.5em;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.navigation.InSearch {
  position: absolute;
  z-index: 102 !important;
  left: 0;
  right: 0;
}
.navigation .nav {
  font-size: 14px;
  font-weight: 300;
  line-height: 21.91px;
  font-family: "IRANSANS";
  color: #D9D9D9;
}

a,
button,
input,
select,
textarea {
  text-decoration: unset;
  box-shadow: unset;
  outline: unset;
}

a:hover, a:focus, a:active, a:focus:active, a:active:focus,
button:hover,
button:focus,
button:active,
button:focus:active,
button:active:focus,
input:hover,
input:focus,
input:active,
input:focus:active,
input:active:focus,
select:hover,
select:focus,
select:active,
select:focus:active,
select:active:focus,
textarea:hover,
textarea:focus,
textarea:active,
textarea:focus:active,
textarea:active:focus {
  text-decoration: unset;
  box-shadow: unset;
  outline: unset;
}

.faNam {
  font-family: "IRANSANSfa";
}

header.DesktopHeader {
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  padding-top: 1em;
  left: 0;
  grid-template-columns: repeat(2, 1fr);
  z-index: 5;
}
header.DesktopHeader.hideINSearch {
  z-index: 101;
  pointer-events: none;
}
header.DesktopHeader.hideINSearch .Left {
  opacity: 0;
  pointer-events: none;
}
header.DesktopHeader::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  right: 0;
  margin: 0 auto;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5333333333);
  bottom: 0;
}
header.DesktopHeader.color a.linkM {
  color: #1D2F3B !important;
}
header.DesktopHeader.color svg, header.DesktopHeader.color path {
  fill: #1D2F3B;
}
header.DesktopHeader.color .toggleBox {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}
header.DesktopHeader.color .toggleBox:hover {
  cursor: pointer;
}
header.DesktopHeader.color .toggleItem {
  width: 65%;
  margin: 0 auto;
  display: flex;
  height: 0.1vh;
  background-color: #1D2F3B !important;
}
header.DesktopHeader > .Left {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
header.DesktopHeader > .Left .Items {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  gap: 3em;
}
header.DesktopHeader > .Left .toggleBox {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: column;
  position: relative;
  z-index: 9999;
}
header.DesktopHeader > .Left .toggleBox:hover {
  cursor: pointer;
}
header.DesktopHeader > .Left .toggleItem {
  width: 65%;
  margin: 0 auto;
  display: flex;
  height: 3px;
  border-radius: 5px;
  background-color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
header.DesktopHeader > .Left .toggleItem.cross {
  position: absolute;
  z-index: 2;
}
header.DesktopHeader > .Left .Item {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
header.DesktopHeader > .Left .Item.searchIcon svg path {
  fill: white;
}
header.DesktopHeader > .Left .Item > a {
  font-size: 14px;
  font-weight: 700;
  line-height: 21.91px;
  color: #FFFFFF;
}
header.DesktopHeader > .Right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header.DesktopHeader > .Right .Logo {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}
header.DesktopHeader .MenuContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: #1D2F3B;
  opacity: 0;
  pointer-events: none;
  left: 100vw;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
header.DesktopHeader .MenuContainer.open {
  left: 0;
  pointer-events: all;
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
header.DesktopHeader .MenuContainer .CloseInner {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 100px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header.DesktopHeader .MenuContainer .BG_MenuC {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
header.DesktopHeader .MenuContainer .BG_MenuC .BG {
  position: absolute;
  width: 98vw;
  z-index: 2;
  height: 95vh;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 1s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 1s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 1s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 1s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 1s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
header.DesktopHeader .MenuContainer .BG_MenuC .BG > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header.DesktopHeader .MenuContainer .BG_MenuC .BG.showIMG {
  opacity: 1;
}
header.DesktopHeader .MenuContainer .Top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header.DesktopHeader .MenuContainer .Bottom {
  width: 30%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(29, 47, 59, 0.9490196078);
}
header.DesktopHeader .MenuContainer .Bottom nav.Menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
}
header.DesktopHeader .MenuContainer .Bottom nav.Menu .Menu-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
header.DesktopHeader .MenuContainer .Bottom nav.Menu .Menu-item > .Menu-link {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.17px;
  color: #FFFFFF;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}
header.DesktopHeader .MenuContainer .Bottom nav.Menu .Menu-item > .Menu-link.fadeUP {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transform: translate(0) !important;
  opacity: 1 !important;
  -webkit-transform: translate(0) !important;
  -moz-transform: translate(0) !important;
  -ms-transform: translate(0) !important;
  -o-transform: translate(0) !important;
}
header.DesktopHeader .MenuContainer .Bottom nav.Menu .Menu-item > .Menu-link:hover {
  opacity: 0.5;
}
header.DesktopHeader .MenuContainer .Bottom nav.Menu .Row {
  width: 50%;
  margin: 0 auto;
  margin-top: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.DesktopHeader .MenuContainer .Bottom nav.Menu .Row .Menu-link {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21.91px;
  color: #FFFFFF;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
header.DesktopHeader .MenuContainer .Bottom nav.Menu .Row .Menu-link:hover {
  opacity: 0.5;
}
header.DesktopHeader .MenuContainer .Bottom nav.Menu .Socials {
  width: 35%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.DesktopHeader .MenuContainer .Bottom nav.Menu .link {
  font-size: 16px;
  font-weight: 500;
  line-height: 25.04px;
  color: #FFFFFF;
}

footer.DesktopFooter {
  width: 100vw;
  padding-top: 4em;
  border-top: 1px solid rgba(29, 47, 59, 0.5019607843);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer.DesktopFooter > .Top {
  display: grid;
  padding: 2em 0;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.7568627451);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7568627451);
}
footer.DesktopFooter > .Top .Left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
footer.DesktopFooter > .Top .Right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}
footer.DesktopFooter > .Top .Right .FooterSocials {
  width: auto;
  display: flex;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
}
footer.DesktopFooter > .Top .Logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.DesktopFooter > .Top .FooterMenu {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #F9F2EA;
  padding-right: 1.8em;
  gap: 2em;
}
footer.DesktopFooter > .Top .FooterMenu > .Row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
footer.DesktopFooter > .Top .FooterMenu > .Row:nth-child(1) .Answer {
  display: flex;
}
footer.DesktopFooter > .Top .FooterMenu > .Row span, footer.DesktopFooter > .Top .FooterMenu > .Row p, footer.DesktopFooter > .Top .FooterMenu > .Row a {
  font-size: 14px;
  font-weight: 500;
  line-height: 21.91px;
  color: #F9F2EA;
}
footer.DesktopFooter > .Bottom {
  width: 100%;
  background-color: #1D2F3B;
  padding: 0.8em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
}
footer.DesktopFooter > .Bottom a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
}
footer.DesktopFooter > .Bottom span {
  font-size: 14px;
  font-weight: 400;
  line-height: 21.91px;
  color: #FFFFFF;
}

.searchContainer {
  width: 100vw;
  height: 100vh;
  background-color: #1D2F3B;
  position: fixed;
  z-index: 100;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -ms-transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}
.searchContainer form {
  width: 100%;
}
.searchContainer button {
  border: none;
  outline: none;
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 0;
  background-color: transparent;
}
.searchContainer.show {
  opacity: 1;
  pointer-events: all;
}

.searchContainerr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  flex-direction: column;
}

.searchContainer .CloseSerch {
  position: absolute;
  z-index: 100;
  right: 5%;
  top: 5vh;
}

.searchContainerr input,
.searchContainer input {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #F9F2EA;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding-left: 3em;
  color: #F9F2EA;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.04px;
}

.searchContainer input:focus,
.searchContainer input:active,
.searchContainer input:focus-visible {
  background-color: transparent;
}

.searchContainerr input::-moz-placeholder, .searchContainer input::-moz-placeholder {
  font-size: 14px;
  font-weight: 300;
  line-height: 21.91px;
  color: #F9F2EA;
}

.searchContainerr input::placeholder,
.searchContainer input::placeholder {
  font-size: 14px;
  font-weight: 300;
  line-height: 21.91px;
  color: #F9F2EA;
}

.searchContainerr .inputBox,
.searchContainer .inputBox {
  width: 60%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.searchContainerr .inputBox span,
.searchContainer .inputBox span {
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 0;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #FFFFFF;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

.popUpGalleryContainer {
  min-height: 100vh;
  background-color: #1D2F3B;
  position: fixed;
  top: 0;
  width: 100%;
  overflow-y: auto;
  height: 100%;
  z-index: 100055202542;
  transform: translateY(-100%);
  transition: 1s ease;
}
.popUpGalleryContainer .closePop, .popUpGalleryContainer .closeSlider {
  position: absolute;
  top: 95px;
  right: 130px;
  cursor: pointer;
}
.popUpGalleryContainer .closeSlider {
  z-index: 10;
}
.popUpGalleryContainer .thumbContainer {
  padding: 181px 125px 50px 139px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 94px;
       column-gap: 94px;
  row-gap: 32px;
}
.popUpGalleryContainer .thumbContainer .thumbBox {
  cursor: pointer;
  width: 100%;
}
.popUpGalleryContainer .thumbContainer .thumbBox img, .popUpGalleryContainer .thumbContainer .thumbBox .imgS {
  width: 100%;
}
.popUpGalleryContainer .sGallery {
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: #1D2F3B;
  position: fixed;
  overflow: hidden;
  transform: translateY(-100%);
  transition: 1s ease;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.popUpGalleryContainer .sGallery .popSlider {
  height: 60vh;
  width: 100vw;
}
.popUpGalleryContainer .sGallery .toolbarPop {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 75px;
  -moz-column-gap: 15px;
       column-gap: 15px;
  z-index: 10;
  margin-top: 28px;
}
.popUpGalleryContainer .sGallery .toolbarPop .zoomIn, .popUpGalleryContainer .sGallery .toolbarPop .zoomOut, .popUpGalleryContainer .sGallery .toolbarPop .rotateLeft, .popUpGalleryContainer .sGallery .toolbarPop .rotateRight {
  cursor: pointer;
}
.popUpGalleryContainer .sGallery .popSlider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popUpGalleryContainer .sGallery .popSlider .imgS {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}
.popUpGalleryContainer .sGallery .popSlider .imgS img {
  height: 100%;
}

.popOpen {
  transform: translateY(0) !important;
}/*# sourceMappingURL=main.css.map */