$color_1:#FFFFFF;
$color_main:#1D2F3B;
$color_2:#305367;
$dark-blue:#1D2F3B;
$color_3:#F9F2EA;
@import "m_style";
.swiper-button-prev::after{
    content: none !important;
  }
  .swiper-button-next::after{
    content: none !important;
  }

  @font-face {
    font-family: "IRANSANSfa";
    font-style: normal;
    src: url("../../_fonts/IRANSANSfa.eot") format("eot"); /* IE9 Compat Modes */
    src: url("../../_fonts/IRANSANSfa.eot?#iefix")
        format("embedded-opentype"),
      url("../../_fonts/IRANSANSfa.woff2") format("woff2"),
      url("../../_fonts/IRANSANSfa.woff") format("woff"),
      url("../../_fonts/IRANSANSfa.ttf") format("truetype");
  }
  @font-face {
    font-family: "IRANSANS";
    font-style: normal;
    src: url("../../_fonts/IRANSansWeb.eot") format("eot"); /* IE9 Compat Modes */
    src: url("../../_fonts/IRANSansWeb.eot?#iefix")
        format("embedded-opentype"),
      url("../../_fonts/IRANSansWeb.woff2") format("woff2"),
      url("../../_fonts/IRANSansWeb.woff") format("woff"),
      url("../../_fonts/IRANSansWeb.ttf") format("truetype");
  }
  @font-face {
    font-family: "IRANSANS";
  
    font-weight: 800;
    src: url("../../_fonts/IRANSansWeb_Bold.eot") format("eot"); /* IE9 Compat Modes */
    src: url("../../_fonts/IRANSansWeb_Bold.eot?#iefix")
        format_("embedded-opentype"),
      url("../../_fonts/IRANSansWeb_Bold.woff2") format("woff2"),
      url("../../_fonts/IRANSansWeb_Bold.woff") format("woff"),
      url("../../_fonts/IRANSansWeb_Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "IRANSANS";
  
    font-weight: 500;
    src: url("../../_fonts/IRANSansWeb(FaNum)_Medium.eot") format("eot"); /* IE9 Compat Modes */
    src: url("../../_fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix")
        format("embedded-opentype"),
      url("../../_fonts/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"),
      url("../../_fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
      url("../../_fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "IRANSANS";
  
    font-weight: 400;
    src: url("../../_fonts/IRANSansFaNum-Regular.eot") format("eot"); /* IE9 Compat Modes */
    src: url("../../_fonts/IRANSansFaNum-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("../../_fonts/IRANSansFaNum-Regular.woff2") format("woff2"),
      url("../../_fonts/IRANSansFaNum-Regular.woff") format("woff"),
      url("../../_fonts/IRANSansFaNum-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "IRANSANS";
  
    font-weight: 300;
    src: url("../../_fonts/IRANSansFaNum-Light.eot") format("eot"); /* IE9 Compat Modes */
    src: url("../../_fonts/IRANSansFaNum-Light.eot?#iefix")
        format("embedded-opentype"),
      url("../../_fonts/IRANSansFaNum-Light.woff2") format("woff2"),
      url("../../_fonts/IRANSansFaNum-Light.woff") format("woff"),
      url("../../_fonts/IRANSansFaNum-Light.ttf") format("truetype");
  }


  @font-face {
    font-family: "IRANSANSfa";
    font-style: normal;
    src: url("../../_fonts/IRANSANSfa.eot") format("eot"); /* IE9 Compat Modes */
    src: url("../../_fonts/IRANSANSfa.eot?#iefix") format("embedded-opentype"),
     url("../_fonts/IRANSANSfa.woff2") format("woff2"), 
     url("../../_fonts/IRANSANSfa.woff") format("woff"),
      url("../../_fonts/IRANSANSfa.ttf") format("truetype");
  }
  @font-face {
    font-family: "IRANSANS";
    font-style: normal;
    font-weight: 300;
    src: url("../../_fonts/IRANSansWeb.eot") format("eot"); /* IE9 Compat Modes */
    src: url("../../_fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
     url("../../_fonts/IRANSansWeb.woff2") format("woff2"), url("../fonts/IRANSANSfa.woff") format("woff"),
      url("../../_fonts/IRANSansWeb.ttf") format("truetype");
  }
  @font-face {
    font-family: "IRANSANS";
   font-style: normal;
    font-weight: 700;
    src: url("../../_fonts/IRANSansWeb_Bold.eot") format("eot"); /* IE9 Compat Modes */
    src: url("../../_fonts/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"),
     url("../../_fonts/IRANSansWeb_Bold.woff2") format("woff2"),
      url("../../_fonts/IRANSansWeb_Bold") format("woff"),
      url("../../_fonts/IRANSansWeb_Bold.ttf") format("truetype");
  }
  * {       font-family: "IRANSANS";
    }
  
    ul,li,p,h2,h1,h3,h4,h5,h6{
      list-style: none;
      padding: 0;
      margin: 0;
    }
 
    body{
    overflow-y: visible;
    height: auto;
    overflow-x: hidden !important;
    margin: 0;
    direction: rtl;
    padding: 0;
    background-color: transparent !important;
    font: inherit;
    vertical-align: baseline;
    line-height: 1;
&.newss{
  .loading{
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: $dark-blue;
    z-index: 999999;
    pointer-events: none;
  }
}

    }
   
    .navigation{
      width: 90%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.2em;
      margin: 0 auto;
      margin-top: 8.5em;
      transition: all .4s ease;
      -webkit-transition: all .4s ease;
      -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
      -o-transition: all .4s ease;
      &.InSearch{
        position: absolute;
        z-index: 102 !important;
        left: 0;
        right: 0;

      }
      .nav{
          font-size: 14px;
          font-weight: 300;
          line-height: 21.91px;
          font-family: "IRANSANS";
          color: #D9D9D9;
      }
  } 
    a,
    button,
    input,
    select,
    textarea {
      text-decoration: unset;
      box-shadow: unset;
      outline: unset;
    }
    a:hover, a:focus, a:active, a:focus:active, a:active:focus,
    button:hover,
    button:focus,
    button:active,
    button:focus:active,
    button:active:focus,
    input:hover,
    input:focus,
    input:active,
    input:focus:active,
    input:active:focus,
    select:hover,
    select:focus,
    select:active,
    select:focus:active,
    select:active:focus,
    textarea:hover,
    textarea:focus,
    textarea:active,
    textarea:focus:active,
    textarea:active:focus {
      text-decoration: unset;
      box-shadow: unset;
      outline: unset;
    }
  
    .faNam {
        font-family: "IRANSANSfa";
    }

header.DesktopHeader{
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    padding-top: 1em;
    left: 0;
    grid-template-columns: repeat(2,1fr);
    z-index: 5;
    &.hideINSearch{
      z-index: 101;
      pointer-events: none;
      .Left{
        opacity:0 ;
        pointer-events: none;
      }
    }
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 90%;
      right: 0;
      margin: 0 auto;
      height: 1px;
      background-color:#ffffff88 ;
      bottom: -2em;
    }
    &.color{
        a.linkM{
         color: $color_main !important; 
        }
        svg ,path{
            fill: $color_main;
        }
        .toggleBox{
            width: 50px;
            height: 50px;
            border-radius: 50%;

            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            flex-direction: column;
            &:hover{
               cursor: pointer;
            }
   }
   .toggleItem{
       width: 65%;
       margin: 0 auto;
       display: flex;
       height: .1vh;
       background-color: $color_main !important;
   }
    }
    >.Left{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      transition: all .4s ease;
      -webkit-transition: all .4s ease;
      -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
      -o-transition: all .4s ease;
      .Items
  
{
            width: 90%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-right: auto;
            gap: 3em;
        }
        .toggleBox{
         width: 50px;
         height: 50px;
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         -ms-border-radius: 50%;
         -o-border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 8px;
         flex-direction: column;
         position: relative;
         z-index: 9999;

         &:hover{
            cursor: pointer;
         }
}
.toggleItem{
    width: 65%;
    margin: 0 auto;
    display: flex;
    height: 3px;
    border-radius: 5px;
    background-color: $color_1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

&.cross{
  position: absolute;
  z-index: 2;
}
}
.Item{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &.searchIcon{
      svg{
        path{
          fill:white
        }
      }
    }
    >a{
        font-size: 14px;
        font-weight: 700;
        line-height: 21.91px;
        color: $color_1;
    }
}
    }
    >.Right{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .Logo{
            width: 90%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-left: auto;
        }
    }
    .MenuContainer{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        background-color: $color_main;
        opacity: 0;
        pointer-events: none;
        left: 100vw;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        &.open{
            left: 0;
            pointer-events: all;
            opacity: 1;
            transition: all .5s;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
        }
        .CloseInner

{
            position: absolute;
            z-index:3;
            top: 0;
            right: 0 ;
            width: 100px;
            height: 110px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .BG_MenuC{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            .BG{
                position: absolute;
                width: 98vw;
                z-index: 2;
                height:95vh;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                transition: all 1s .2s cubic-bezier(0.165, 0.84, 0.44, 1);
                -webkit-transition: all 1s .2s cubic-bezier(0.165, 0.84, 0.44, 1);
                -moz-transition: all 1s .2s cubic-bezier(0.165, 0.84, 0.44, 1);
                -ms-transition: all 1s .2s cubic-bezier(0.165, 0.84, 0.44, 1);
                -o-transition: all 1s .2s cubic-bezier(0.165, 0.84, 0.44, 1);
                >img
{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &.showIMG{
                    opacity: 1;
                }
            }
        }
        .Top{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .Bottom{
            width: 30%;
            height: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
            z-index: 4;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1D2F3BF2;
            nav.Menu{
                width: 100%;
                display: flex;
                flex-direction: column;
                 gap: 1.5em;
                 justify-content: center;
                 align-items: center;
                 .Menu-item{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    >.Menu-link{
                        width: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 28.17px;
                        color: $color_1;
                        transition:all 1s ease ;
                        -webkit-transition:all 1s ease ;
                        -moz-transition:all 1s ease ;
                        -ms-transition:all 1s ease ;
                        -o-transition:all 1s ease ;
                        &.fadeUP{
                            transition:all 1s ease ;
                            -webkit-transition:all 1s ease ;
                            -moz-transition:all 1s ease ;
                            -ms-transition:all 1s ease ;
                            -o-transition:all 1s ease ;
              
                            transform: translate(0) !important;
                            opacity: 1 !important;
                            -webkit-transform: translate(0) !important;
                            -moz-transform: translate(0) !important;
                            -ms-transform: translate(0) !important;
                            -o-transform: translate(0) !important;
}
                        &:hover
                  
                        {
                                 opacity: .5;
                         }
                    }
                 }
             .Row{
                width: 50%;
                margin: 0 auto;
                margin-top: 6vh;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .Menu-link{
                    width: auto;
                  
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21.91px;
                    color: $color_1;
                    transition:all .4s ease ;
                    -webkit-transition:all .4s ;
                    -moz-transition:all .4s ease ;
                    -ms-transition:all .4s ease ;
                    -o-transition:all .4s ease ;
                    -webkit-transition:all .4s ease ;
                    &:hover
                  
{
                        opacity: .5;
                    }
                }
             }
             .Socials{
                width: 35%;
                margin: 0 auto;
                display: flex;
                justify-content:space-between;
                align-items: center;
             }
             .link{
                font-size: 16px;
                font-weight: 500;
                line-height: 25.04px;
                color: $color_1;
             }
            }
        }
    }
}

footer.DesktopFooter{
    width: 100vw;
    padding-top: 4em;
    border-top: 1px solid #1D2F3B80;
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    >.Top{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      width: 90%;
      margin: 0 auto;
      border-top: 1px solid #ffffffc1;
      border-bottom: 1px solid #ffffffc1;

    .Left{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    .Right{
        width: 95%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: auto;
        .FooterSocials{
            width: auto;
            display: flex;
            gap: 1.5em;
            justify-content: center;
            align-items: center;
        }
    }
    .Logo{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .FooterMenu{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #F9F2EA;
        padding-right: 1.8em;
        gap: 2em;
        >.Row{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            span,p,a{
                font-size: 14px;
                font-weight: 500;
                line-height: 21.91px;
                color: #F9F2EA;
            }
        }
    }
    }
    >.Bottom{
      width: 100%;
      background-color: $color_main;
      padding: .8em 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .8em;
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .8em;
      }
      span{
        font-size: 14px;
        font-weight: 400;
        line-height: 21.91px;
        color: $color_1;
      }
    }
}
.searchContainer{
    width: 100vw;
    height: 100vh;
    background-color: $dark-blue;
    position: fixed;
    z-index: 100;
    transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -ms-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    form{
        width: 100%;
    }
    button{
        border: none;
        outline: none;
        width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 0;
  background-color: transparent;
    }
    &.show{
        opacity: 1;
        pointer-events: all;
    }
    .resultSearch{
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(15vh);
        margin: 0 auto;
        p{
            text-align: center;
            font-size: 13px;
            font-weight: 400;
            line-height: 22.45px;
            color: $color_3;
        }
    }
}

.searchContainerr{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
.searchContainer .CloseSerch{
    position: absolute;
    z-index: 100;
    right: 5%;
    top: 5vh;
}
.searchContainerr input,
.searchContainer input{
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    padding: 10px;
    background-color:transparent;
    border: 1px solid $color_3;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}
    .searchContainerr input::placeholder,
    .searchContainer input::placeholder{
        font-size: 14px;
    font-weight: 300;
    
    line-height: 21.91px;
    color:$color_3;
    }
    .searchContainerr .inputBox,
    .searchContainer .inputBox{
        width: 60%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    .searchContainerr .inputBox span,
    .searchContainer .inputBox span{
        width: 20px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    position: absolute;
    left: 10px;
    top: 0;
    }

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }
  
  .arrows path {
    stroke:$color_1;
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }

  .popUpGalleryContainer{
    min-height: 100vh;
    background-color: #1D2F3B;
    position: fixed;
    top: 0;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    z-index: 100055202542;
    transform: translateY(-100%);
    transition: 1s ease;
    .closePop,.closeSlider{
        position: absolute;
        top: 95px ;
        right: 130px;
        cursor: pointer;
    }
  
    .closeSlider{
      z-index: 10;
  
    }
    .thumbContainer{
        padding: 181px 125px 50px 139px ;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 94px;
        row-gap: 32px;
        .thumbBox{
          cursor: pointer;
            width: 100%;
 
            img,.imgS{
                width: 100%;
  
            }
        }
    }
    .sGallery{
      width: 100%;
      height: 100vh;
      top: 0;
      background-color: #1D2F3B;
      position: fixed;
      overflow: hidden;
      transform: translateY(-100%);
      transition: 1s ease;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .popSlider {
        height: 60vh;
        width: 100vw;
      }
      .toolbarPop{
        display: flex;
        justify-content: center;
        align-items: center;
        // position: absolute;
        left: 0;
        right: 0;
        bottom: 75px;
        column-gap: 15px;
        z-index: 10;
        margin-top: 28px;
        .zoomIn , .zoomOut,.rotateLeft , .rotateRight{
          cursor: pointer;
        }
      }
      .popSlider{
        // height: 100svh;
        .swiper-slide{
          display: flex;
          align-items: center;
          justify-content: center;
        }
          .imgS{
  overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
          height: 90%;
          img{
            height: 100%;
          }
        }
      }
    }
  }
  
  .popOpen{
    transform: translateY(0)!important;
  }